.ResultList {
margin:0px;padding:0px;
width:100%;	box-shadow: 10px 10px 5px #888888;
border:1px solid #000000;

-moz-border-radius-bottomleft:0px;
-webkit-border-bottom-left-radius:0px;
border-bottom-left-radius:0px;

-moz-border-radius-bottomright:0px;
-webkit-border-bottom-right-radius:0px;
border-bottom-right-radius:0px;

-moz-border-radius-topright:0px;
-webkit-border-top-right-radius:0px;
border-top-right-radius:0px;

-moz-border-radius-topleft:0px;
-webkit-border-top-left-radius:0px;
border-top-left-radius:0px;
}
.ResultList table{
width:100%;
height:100%;
margin:0px;padding:0px;
}
.ResultList tr:last-child td:last-child {
-moz-border-radius-bottomright:0px;
-webkit-border-bottom-right-radius:0px;
border-bottom-right-radius:0px;
}
.ResultList table tr:first-child td:first-child {
-moz-border-radius-topleft:0px;
-webkit-border-top-left-radius:0px;
border-top-left-radius:0px;
}
.ResultList table tr:first-child td:last-child {
-moz-border-radius-topright:0px;
-webkit-border-top-right-radius:0px;
border-top-right-radius:0px;
}.ResultList tr:last-child td:first-child{
-moz-border-radius-bottomleft:0px;
-webkit-border-bottom-left-radius:0px;
border-bottom-left-radius:0px;
}.ResultList tr:hover td{

}

.ResultList td{
vertical-align:middle;


border:1px solid #000000;
border-width:0px 1px 1px 0px;
text-align:left;
padding:7px;
color:#000000;
}
.ResultList tr:last-child td{
border-width:0px 1px 0px 0px;
}
.ResultList tr td:last-child{
border-width:0px 0px 1px 0px;
}
.ResultList tr:last-child td:last-child{
border-width:0px 0px 0px 0px;
}
.ResultList th{
	background:-o-linear-gradient(bottom, #0057af 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #007fff) );	background:-moz-linear-gradient( center top, #0057af 5%, #007fff 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#007fff");	background: -o-linear-gradient(top,#0057af,007fff);
background-color:#0057af;
border:0px solid #000000;
text-align:center;
border-width:0px 0px 1px 1px;
color:#ffffff;
}
.ResultList th{
	background:-o-linear-gradient(bottom, #0057af 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #007fff) );	background:-moz-linear-gradient( center top, #0057af 5%, #007fff 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#007fff");	background: -o-linear-gradient(top,#0057af,007fff);
background-color:#0057af;
}
.ResultList tr:first-child td:first-child{
border-width:0px 0px 1px 0px;
}
.ResultList tr:first-child td:last-child{
border-width:0px 0px 1px 1px;
}

.ResultListFixed {
margin:0px;padding:0px;
width:100%;	box-shadow: 10px 10px 5px #888888;
border:1px solid #000000;

-moz-border-radius-bottomleft:0px;
-webkit-border-bottom-left-radius:0px;
border-bottom-left-radius:0px;

-moz-border-radius-bottomright:0px;
-webkit-border-bottom-right-radius:0px;
border-bottom-right-radius:0px;

-moz-border-radius-topright:0px;
-webkit-border-top-right-radius:0px;
border-top-right-radius:0px;

-moz-border-radius-topleft:0px;
-webkit-border-top-left-radius:0px;
border-top-left-radius:0px;
}.ResultListFixed table{
width:100%;
height:100%;
margin:0px;padding:0px;
}.ResultListFixed tr:last-child td:last-child {
-moz-border-radius-bottomright:0px;
-webkit-border-bottom-right-radius:0px;
border-bottom-right-radius:0px;
}
.ResultListFixed table tr:first-child td:first-child {
-moz-border-radius-topleft:0px;
-webkit-border-top-left-radius:0px;
border-top-left-radius:0px;
}
.ResultListFixed table tr:first-child td:last-child {
-moz-border-radius-topright:0px;
-webkit-border-top-right-radius:0px;
border-top-right-radius:0px;
}.ResultListFixed tr:last-child td:first-child{
-moz-border-radius-bottomleft:0px;
-webkit-border-bottom-left-radius:0px;
border-bottom-left-radius:0px;
}.ResultListFixed tr:hover td{

}
.ResultListFixed td{
vertical-align:middle;


border:1px solid #000000;
border-width:0px 1px 1px 0px;
text-align:left;
padding:7px;
color:#000000;
}
.ResultListFixed tr:last-child td{
border-width:0px 1px 0px 0px;
}
.ResultListFixed tr td:last-child{
border-width:0px 0px 1px 0px;
}
.ResultListFixed tr:last-child td:last-child{
border-width:0px 0px 0px 0px;
}
.ResultListFixed th{
	background:-o-linear-gradient(bottom, #0057af 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #007fff) );	background:-moz-linear-gradient( center top, #0057af 5%, #007fff 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#007fff");	background: -o-linear-gradient(top,#0057af,007fff);
background-color:#0057af;
border:0px solid #000000;
text-align:center;
border-width:0px 0px 1px 1px;
color:#ffffff;
}
.ResultListFixed th{
	background:-o-linear-gradient(bottom, #0057af 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #007fff) );	background:-moz-linear-gradient( center top, #0057af 5%, #007fff 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#007fff");	background: -o-linear-gradient(top,#0057af,007fff);
background-color:#0057af;
}
.ResultListFixed tr:first-child td:first-child{
border-width:0px 0px 1px 0px;
}
.ResultListFixed tr:first-child td:last-child{
border-width:0px 0px 1px 1px;
}

.ResultListExact:nth-child(odd) { background-color:#d3e9ff; }
.ResultListExact:nth-child(even) { background-color:#ffffff; }
.ResultListInexact:nth-child(odd) { background-color:#d3c9ef; }
.ResultListInexact:nth-child(even) { background-color:#ffefef; }

.mimicOddResultListExact { background-color:#d3e9ff; }
.mimicEvenResultListExact { background-color:#ffffff; }
.mimicOddResultListInexact { background-color:#d3c9ef; }
.mimicEvenResultListInexact { background-color:#ffefef; }

.paginate a {
        text-decoration: none !important;
    display: inline-block;
    padding: 3px;
    margin-right: 3px !important;
    margin-left: 3px;
    padding-right: 5px;
    padding-left: 5px;
    display: inline-block;
    background: #777;
    border: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}

.mimicOddGradeA { background-color: #ddffdd; }
.mimicEvenGradeA { background-color: #eeffee; }
.mimicOddGradeX { background-color: #ffdddd; }
.mimicEvenGradeX { background-color: #ffeeee; }

/* __BEGIN_LICENSE__
/*Copyright (c) 2015, United States Government, as represented by the 
/*Administrator of the National Aeronautics and Space Administration. 
/*All rights reserved.
/*
/*The xGDS platform is licensed under the Apache License, Version 2.0 
/*(the "License"); you may not use this file except in compliance with the License. 
/*You may obtain a copy of the License at 
/*http://www.apache.org/licenses/LICENSE-2.0.
/*
/*Unless required by applicable law or agreed to in writing, software distributed 
/*under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR 
/*CONDITIONS OF ANY KIND, either express or implied. See the License for the 
/*specific language governing permissions and limitations under the License.
/* __END_LICENSE__
