.ResultList {
    margin:0px;
    padding:0px;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;
}

.ResultList table{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

.ResultList td{
    vertical-align:middle;
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:0px; /* was 4px, but DataTables has issues with padding */
    color:#000000;
}

.ResultList tr:last-child td{
    border-width:0px 1px 0px 0px;
}

.ResultList tr td:last-child{
    border-width:0px 0px 1px 0px;
}

.ResultList tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}

.ResultList th{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#007fff"); /** older IE **/
    background: -webkit-linear-gradient(#0057af, #007fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0057af, #007fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0057af, #007fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #0057af 5%, #007fff);
    background-color:#0057af; /** fallback solid **/
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    color:#ffffff;
}

.ResultList tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.ResultList tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}


.ResultListExact:nth-child(odd) { background-color:#d3e9ff; }
.ResultListExact:nth-child(even) { background-color:#ffffff; }
.ResultListInexact:nth-child(odd) { background-color:#d3c9ef; }
.ResultListInexact:nth-child(even) { background-color:#ffefef; }

.mimicOddResultListExact { background-color:#d3e9ff; }
.mimicEvenResultListExact { background-color:#ffffff; }
.mimicOddResultListInexact { background-color:#d3c9ef; }
.mimicEvenResultListInexact { background-color:#ffefef; }




.paginate a {
    text-decoration: none !important;
    display: inline-block;
    padding: 3px;
    margin-right: 3px !important;
    margin-left: 3px;
    padding-right: 5px;
    padding-left: 5px;
    display: inline-block;
    background: #777;
    border: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mimicOddGradeA { background-color: #ddffdd; }
.mimicEvenGradeA { background-color: #eeffee; }
.mimicOddGradeX { background-color: #ffdddd; }
.mimicEvenGradeX { background-color: #ffeeee; }

/*__BEGIN_LICENSE__
/* Copyright (c) 2015, United States Government, as represented by the
/* Administrator of the National Aeronautics and Space Administration.
/* All rights reserved.
/*
/* The xGDS platform is licensed under the Apache License, Version 2.0
/* (the "License"); you may not use this file except in compliance with the License.
/* You may obtain a copy of the License at
/* http://www.apache.org/licenses/LICENSE-2.0.
/*
/* Unless required by applicable law or agreed to in writing, software distributed
/* under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
/* CONDITIONS OF ANY KIND, either express or implied. See the License for the
/* specific language governing permissions and limitations under the License.
/*__END_LICENSE__
