{% extends "base.html" %}
{% load url from future %}
{% load nav %}
{% block siteSection %}{{ title }}{% endblock %}
{% block nav %}
   {{ block.super }}
   {% endblock %}

{% block scripts %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}external/css/jquery-ui.css" ></link>
{% endblock %}


{% block contents %}
<h2>{{ title }}</h2>
Pick model to search:
{% for model in models %}
  <div class="navLink"><a href="{% url 'xgds_data_searchChosenModel' module model %}">{{ model }}</a></div>
{% endfor %}
{% endblock %}
