{% extends "base.html" %}
{% load xgds_data_extras %}

{% load url from future %}
{% load nav %}
{% block siteSection %}{{ title }}{% endblock %}
{% block nav %}
   {{ block.super }}
   {% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}


{% block contents %}
<h2>{{ title }}</h2>
You may create any of the following:
{% for name in ordered_names %}
  <div class="navLink"><a href="{% url 'xgds_data_createCreateModel' module models|getattribute:name|getattribute:'__name__' %}">{{ name }}</a></div>
{% endfor %}
{% endblock %}
