{% extends "base.html" %}
{% load xgds_data_extras %}

{% load nav %}
{% block siteSection %}{{ title }}{% endblock siteSection %}

{% block contents %}
Really delete
{% if records|length == 1 %}
<B>{{ verbose_model }} {{ records.0 }}</B>
{% else %}
<B>{{ records|length }} {{ verbose_model_plural }} </B>
{% endif %}
?
<BR />

<form name='DeleteForm' action="{% url 'xgds_data_deleteRecord' module model %}" method="post">

{% spaceless %}
{% for rfi in recordfullids %}
<input type="hidden" id="pick_{{rfi}}" name="picks" value="{{rfi}}" >
{% endfor %}
{% endspaceless %}

<input type="submit" class="btn btn-primary" value="Delete" name="action" />
<input type="submit" class="btn btn-primary" value="Cancel" name="action" />
</form>

{% endblock contents %}
