{% extends "base.html" %}
{% load xgds_data_extras %}

{% load url from future %}
{% load nav %}
{% block siteSection %}{{ title }}{% endblock siteSection %}

{% block contents %}
<TABLE>
{% if editable %}
  <TR>
    <TD><a href="{% url 'xgds_data_editRecord' module model record.id %}">Edit</a></TD>
    <TD><a href="{% url 'xgds_data_deleteRecord' module model record.id %}">Delete</a>
{% if allowSimiliar %}
    <a href="{% url 'xgds_data_searchSimilar' module model record.id %}" style="float:right;text-align:right;">Similar Records</A>
{% endif %}
</TD>
  </TR>
{% elif allowSimiliar %}
  <TR>
<TD COLSPAN=2>
    <a href="{% url 'xgds_data_searchSimilar' module model record.id %}">Similar Records</A>
</TD>
  </TR>
{% endif %}
	<TR>
	<TD><B>{{ verbose_model }}</B></TD>
	{% with myval=record %}
	   <TD><SPAN {% if myval|isNumeric %}style="white-space:nowrap;"{% endif %}>
		{{ f|display:myval }}
	  </SPAN></TD>
	{% endwith %}
	</TR>
{% for f in displayFields %}
	<TR>
	<TD><B>{{ f|verbose_name }}</B></TD>
	{% with myval=record|getattribute:f %}
	   <TD><SPAN {% if myval|isNumeric %}style="white-space:nowrap;"{% endif %}>
		{{ f|display:myval }}
	  </SPAN></TD>
	{% endwith %}
	</TR>
{% endfor %}
</TABLE>
{% endblock contents %}
