{% extends "base.html" %}
{% load xgds_data_extras %}

{% load url from future %}
{% load nav %}
{% block siteSection %}{{ title }}{% endblock siteSection %}

{% block contents %}
<TABLE>
{% if allowSimiliar %}
  <TR>
  {% if editable %}
    <TD><a href="{% url 'xgds_data_editRecord' module model record.id %}">Edit</a>
        <span style="float:right;"><a href="{% url 'xgds_data_deleteRecord' module model record.id %}">Delete</a>&nbsp;&nbsp;&nbsp;</span>
   </TD>
  {% else %}
    <TD></TD>
  {% endif %}
   <TD><a href="{% url 'xgds_data_searchSimilar' module model record.id %}">Similar Records</A></TD>
  </TR>
{% elif editable %}
  <TR>
    <TD><a href="{% url 'xgds_data_editRecord' module model record.id %}">Edit</a></TD>
    <TD><a href="{% url 'xgds_data_deleteRecord' module model record.id %}">Delete</a></TD>
  </TR>
{% endif %}

	<TR>
	<TD><B>{{ verbose_model }}</B></TD>
	{% with myval=record %}
	   <TD><SPAN {% if myval|isNumeric %}style="white-space:nowrap;"{% endif %}>
		{{ f|display:myval }}
	  </SPAN></TD>
	{% endwith %}
	</TR>
{% for f in displayFields %}
	<TR>
	<TD><B>{{ f|verbose_name }}</B></TD>
	{% with myval=record|getattribute:f %}
	   <TD><SPAN {% if myval|isNumeric %}style="white-space:nowrap;"{% endif %}>
		{{ f|display:myval }}
	  </SPAN></TD>
	{% endwith %}
	</TR>
{% endfor %}
</TABLE>
{% endblock contents %}
