{% extends "base.html" %}
{% load xgds_data_extras %}

{% load url from future %}
{% load nav %}
{% block siteSection %}{{ title }}{% endblock siteSection %}

{% block contents %}
<H2>Edit {{ record }}</H2>
<form name='EditForm' action="{% url 'xgds_data_editCollection' record|getattribute:pk.name %}" method="post">
<input type="hidden" name="fnctn" value="edit">
<table>
{{ form.as_table }}

	<tr><td></td><td><input type="submit" class="mybutton" value="Save" id="save" /></td></tr>

</table>
</form>
{% endblock contents %}
