{% extends "base.html" %}
{% load url from future %}
{% load nav %}
{% block siteSection %}{{ title }}{% endblock %}
{% block nav %}
   {{ block.super }}
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% if standalone %}
  <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}external/css/jquery/jquery-ui.css" ></link>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery/jquery-ui.min.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery/jquery.flot.min.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery/jquery.flot.time.js"></script>
{% else %}
  <link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jquery-ui/themes/base/jquery-ui.min.css" ></link>
  <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jquery-ui/jquery-ui.min.js"></script>
  <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}flot/jquery.flot.js"></script>
  <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}flot/jquery.flot.time.js"></script>
{% endif %}

{% if count %}
<script language="javascript" type="text/javascript">
function submitform(start, end)
{
  $('form[name|="PlotForm"]')[0].action = $('form[name|="PlotForm"]')[0].action+start+'/'+end+'/';
}

$("#prev").click(function() {
	submitform({{ start|add:"-10000" }},{{ end|add:"-10000" }});
});

$("#next").click(function() {
	submitform({{ start|add:"10000" }},{{ end|add:"10000" }});
});

var seriesToIndex; // translate from series index to flat index in names, data
function makePlot(data,names) {
	$("#results_plot").html("");
	var xSelect = $('select[name|="xaxis"]')[0];
	var xaxis = xSelect.options[xSelect.selectedIndex].value;
	var ySelect = $('select[name|="yaxis"]')[0]
	var yaxis = ySelect.options[ySelect.selectedIndex].value;
	var series;
	if ($('select[name|="series"]').length > 0) {
		var sSelect = $('select[name|="series"]')[0];
		series = sSelect.options[sSelect.selectedIndex].value;
	} else {
		series = $('input[name|="series"]')[0].value;
	}
	
	var plotData = {};
    seriesToIndex = {};

	for (i in data) {
		var s = data[i][series];
		if (!s) {
			// presumably this is when no series has been chosen
			s = '<i>unspecified</i>';
		}
		if (plotData[s] == undefined) {
			plotData[s] = {
				label : ''+s,
				lines : { show : false }, 
				points : { radius: 3, show : true, fill : true },
				data : []
			};
            seriesToIndex[s] = [];
		}
		//plotData[s].data.push([ data[i][xaxis], data[i][yaxis] ]);
		var xval, yval;
		if (xaxis == 'Rank') {
			xval = i;
		} else {
			xval = data[i][xaxis];
		}
		if (yaxis == 'Rank') {
			yval = i;
		} else {
			yval = data[i][yaxis];
		}
		plotData[s].data.push([ xval, yval ]);
		seriesToIndex[s].push(i);
	}
	var plotArray = [];
	for (s in plotData) {
		plotArray.push(plotData[s]);
	}
	
	  var xmode = null;
	  var ymode = null;
	  for (i in timeFields) {
		  if (timeFields[i] == xaxis) {
			  xmode = "time";
		  }
		  if (timeFields[i] == yaxis) {
			  ymode = "time";
		  }
	  }
	  $("#legend").html(""); // won't automatically be cleared if we no longer have a legend
	  return $.plot($("#results_plot"),
			plotArray,
			  {series: {shadowSize: 0, lines: {lineWidth:1}},
			   grid: { hoverable: true, clickable: true, backgroundColor: '#929292' },
			   yaxis: { mode: ymode  },
			   xaxis: { mode: xmode },
				legend : {
					show : (series != '') && (series != 'None'),
					container: $("#legend"),
					noColumns : 5,
					sorted: true,
					backgroundOpacity : 0
				}
			 });

}

function plothoverHandler(event, pos, item) {
    if (item) {
        $("#hoverlabel").html(names[seriesToIndex[item.series.label][item.dataIndex]])
		$("#hoverlabel").css("color",item.series.color);
    } else {
		$("#hoverlabel").html('&nbsp;');
    }
}

$('select[name|="xaxis"]').change( function() { makePlot(data,names); } );
$('select[name|="yaxis"]').change( function() { makePlot(data,names); } );
$('select[name|="series"]').change( function() { makePlot(data,names); } );
	
function cgiArgs(alist) {
	var list = [];

	for (name in alist) {
		list.push( encodeURIComponent(name) + '=' + encodeURIComponent(alist[name]) );
	}

	return list.join('&');
}

  var timeFields = {{ timeFields|safe }};
  var data = {{ plotData|safe }} ; 
  var names = {{ labels|safe }} ; 
  var plot = makePlot(data,names);
  $("#results_plot").bind("plothover", plothoverHandler);
  $("#results_plot").bind("plotclick", function (event, pos, item) {
	    if (item) {
	        var args = data[parseInt(seriesToIndex[item.series.label][item.dataIndex])];
            self.location = "{% url 'xgds_data_displayRecord' module model '' %}"+args["{{ pk }}"];
	      // self.location = "{% url 'xgds_data_searchSimilar' module model %}"+args["{{ pk }}"];
	    }
	});

</script>
{% endif %}

{% endblock %}


{% block contents %}						
<h2>{{ title }}</h2>
{% for d in debug %}
<span>{{ d }}</span>
{% endfor %}
{% if soft %}
<form name='PlotForm' action="{% url 'xgds_data_searchPlotQueryResults' module model %}" method="post">
{% else %}
<form name='PlotForm' action="{% url 'xgds_data_searchPlotQueryResults' module model 'exact' %}" method="post">
{% endif %}
  <input type="hidden" name="mode" value="query">
    {{ formset.management_form }}
    {% for form in formset %}
		{% for field in form %}
        	{{ field.as_hidden }} 
		{% endfor %}
    {% endfor %}

<table>      
<tr><th>{{ axesform.xaxis.label_tag }}: </th><td>{{ axesform.xaxis }}</td></tr>
<tr><th>{{ axesform.yaxis.label_tag }}: </th><td>{{ axesform.yaxis }}</td></tr>
{% if axesform.fields.series.choices|length == 1 %}
	{% comment %} 
	There's probably a better way to do this but I couldn't find it.
	We just want the displayed choice name, not the actual value.
	There will be exactly one choice, so looping isn't necessary, but could not find an alternative.
	{% endcomment %} 
	{% for value, displayName in axesform.fields.series.choices %}
		<tr><th>{{ axesform.series.label_tag }}: </th><td>{{ axesform.series.as_hidden }}{{ displayName }}</td></tr>	
	{% endfor %}
{% else %}
	<tr><th>{{ axesform.series.label_tag }}: </th><td>{{ axesform.series }}</td></tr>
{% endif %}
</table> 

{% if count %}
	<div align="center" id="hoverlabel" style="width:800px">&nbsp;</div>
	<div id="results_plot" style="width:800px;height:450px">Loading...<BR /><BR /><BR />
	<CENTER>(if this message doesn't go away, Javascript is probably disabled.)</CENTER>
	</div>
	<div id="legend"></div>
	<HR>
	<div>Plotting records {{ start|add:"1" }} through {{ start|add:showncount }} 
	out of {{ count }} total</div>
	{% if start|add:"0" > 0 %}
		<input type="submit" value="Previous Records" id="prev" title="Refresh page with previous records"/>
	{% else %}
		<input type="submit" value="Previous Records" id="prev" title="There are no previous records" disabled/>
	{% endif %}
	{% if count > end|add:"0" %}
	 	<input type="submit" value="Next Records" id="next" title="Refresh page with next records"/>
	{% else %}
	 	<input type="submit" value="Next Records" id="next" title="There are no next records" disabled/> 
	{% endif %}
{% elif formset.cleaned_data %}
	<HR>
	No records found 
{% endif %}
</form>

{% endblock %}

