{% extends "base.html" %}
{% load nav %}
{% block siteSection %}{{ title }}{% endblock %}
{% block nav %}
   {{ block.super }}
{% endblock %}
   
{% block scripts %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" 
        href="{{ STATIC_URL }}style/jquery-ui.css" ></link>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}jquery/ui/jquery-ui-1.8.12.custom.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery.flot.min.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery.flot.threshold.min.js"></script>

{% if count %}
<script language="javascript" type="text/javascript">

function makePlot(data) {
	var xSelect = $('select[name|="xaxis"]')[0];
	var xaxis = xSelect.options[xSelect.selectedIndex].value;
	var ySelect = $('select[name|="yaxis"]')[0]
	var yaxis = ySelect.options[ySelect.selectedIndex].value;
	
	var plotData = [];

	for (i in data) {
		plotData.push([ data[i][xaxis], data[i][yaxis] ]);
	}
	
	  var xmode = null;
	  var ymode = null;
	  for (i in timeFields) {
		  if (timeFields[i] == xaxis) {
			  xmode = "time";
		  }
		  if (timeFields[i] == yaxis) {
			  ymode = "time";
		  }
	  }
	  return $.plot($("#results_plot"),
			  [{ color:"blue", 
				  lines : { show : false }, 
				  points : { radius: 3, show : true, fill : true },
				  data: plotData
				}],
			  {series: {shadowSize: 0, lines: {lineWidth:1}},
			   grid: { hoverable: true, clickable: true },
			   yaxis: { mode: ymode  },
			   xaxis: { mode: xmode }
			 });

}

$('select[name|="xaxis"]').change( function() { makePlot(data); } );
$('select[name|="yaxis"]').change( function() { makePlot(data); } );
	
  var timeFields = {{ timeFields|safe }};
  var data = {{ plotData|safe }} ; 
  var plot = makePlot(data);

</script>
{% endif %}

{% endblock %}


{% block contents %}						
<h2>{{ title }}</h2>  
{% for d in debug %}
<span>{{ d }}</span>
{% endfor %}
<form name='QueryForm' action="{% url xgds_data_searchPlotQueryResults module model %}" method="post">
  <input type="hidden" name="mode" value="query">
    {{ formset.management_form }}
    {% for form in formset %}
		{% for field in form %}
        	{{ field.as_hidden }} 
		{% endfor %}
    {% endfor %}
        
<table>
{{ axesform.as_table }}
</table>

{% if count %}
	<div id="results_plot" style="width:800px;height:450px"></div>
	<HR>
	{{ count }} records found 
{% elif formset.cleaned_data %}
	<HR>
	No records found 
{% endif %}
</form>

{% endblock %}

