{% extends "base.html" %}
{% load staticfiles %}
{% load nav %}
{% block siteSection %}{{ title }}{% endblock %}
{% block nav %}
   {{ block.super }}
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% if standalone %}
  <link rel="stylesheet" type="text/css"
        href="{% static "external/css/jquery/jquery-ui.css" %}" ></link>
  <script language="javascript" type="text/javascript"
	  src="{% static "external/js/jquery/jquery-ui.js" %}"></script>
  <script language="javascript" type="text/javascript"
	  src="{% static "external/js/jquery/jquery.flot.min.js" %}"></script>
  <script language="javascript" type="text/javascript"
	  src="{% static "external/js/jquery/jquery.flot.time.js" %}"></script>
{% else %}
  <link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jquery-ui-dist/jquery-ui.min.css" ></link>
  <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jquery-ui-dist/jquery-ui.min.js"></script>
  <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}flot/jquery.flot.js"></script>
  <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}flot/jquery.flot.time.js"></script>
{% endif %}

<script language="javascript" type="text/javascript">
function submitform(start, end)
{
  $('form[name|="PlotForm"]')[0].action = $('form[name|="PlotForm"]')[0].action+start+'/'+end+'/';
}

$("#prev").click(function() {
	submitform({{ start|add:"-10000" }},{{ end|add:"-10000" }});
});

$("#next").click(function() {
	submitform({{ start|add:"10000" }},{{ end|add:"10000" }});
});

var urg;
function update() {
	var xaxis = $('select[name|="xaxis"]').val();
	var yaxis = $('select[name|="yaxis"]').val();
	var series = $('select[name|="series"]').val();

	var xdata = alldata[xaxis];
	var ydata = alldata[yaxis];
	var sdata;
	if ((series == "None") || (series == undefined) || (series == "")) {
		sdata = {};
	} else {
		sdata = alldata[series];
	}


/*
	var xdata = {};
	var ydata = {};
	var sdata = {};

	for (i in data) {
		var id = data[i]['id'];
		xdata[id] = data[i][xaxis];
		ydata[id] = data[i][yaxis];
		sdata[id] = data[i][series];
		if (sdata[id] == undefined) {
			// presumably this is when no series has been chosen
			sdata[id]  = '<i>unspecified</i>';
		}
	}
 */
    if (alldata.Name == undefined) {
    	alldata.Name = {}
        requestData(0, update); // weird semantics that gets name and rank metadata
 	} else if (xdata == undefined) {
        alldata[xaxis] = {};
 		requestData(xaxis, update);
 	} else if (ydata == undefined) {
        alldata[yaxis] = {};
 		requestData(yaxis, update);
 	} else if (sdata == undefined) {
        alldata[series] = {};
 		requestData(series, update);
 	} else {
 		if (Object.keys(xdata).length) {
 			makePlot(xdata,ydata,sdata);
 		}
 	}
}

var seriesToPk; // translate from series index to flat index in names, data
function makePlot(xdata,ydata,series) {
        $("#hoverlabel").html("Rendering...");
	$("#results_plot").html("");
/* 	var xSelect = $('select[name|="xaxis"]')[0];
	var xaxis = xSelect.options[xSelect.selectedIndex].value;
	var ySelect = $('select[name|="yaxis"]')[0]
	var yaxis = ySelect.options[ySelect.selectedIndex].value;
	var series;
	if ($('select[name|="series"]').length > 0) {
		var sSelect = $('select[name|="series"]')[0];
		series = sSelect.options[sSelect.selectedIndex].value;
	} else {
		series = $('input[name|="series"]')[0].value;
	}
 */
	var plotData = {};
    seriesToPk = {};

    for (var id in xdata) {
    	var x = xdata[id];
    	var y = ydata[id];
    	var s = series[id];
		if (s == undefined) {
			// presumably this is when no series has been chosen
			s  = '<i>unspecified</i>';
		}

    	var seriesdata = plotData[s];
    	if (seriesdata == undefined) {
    		seriesdata = {
    				label : ''+s,
    				lines : { show : false },
    				points : { radius: 3, show : true, fill : true },
    				data : []
    			};
    		plotData[s] = seriesdata;
    		seriesToPk[s] = [];
    	}
    	seriesdata.data.push([ x, y ]);
    	seriesToPk[s].push(id);
    }

/* 	for (i in data) {
		var s = data[i][series];
		if (!s) {
			// presumably this is when no series has been chosen
			s = '<i>unspecified</i>';
		}
		if (plotData[s] == undefined) {
			plotData[s] = {
				label : ''+s,
				lines : { show : false },
				points : { radius: 3, show : true, fill : true },
				data : []
			};
            seriesToIndex[s] = [];
		}
		//plotData[s].data.push([ data[i][xaxis], data[i][yaxis] ]);
		var xval, yval;
		if (xaxis == 'Rank') {
			xval = i;
		} else {
			xval = data[i][xaxis];
		}
		if (yaxis == 'Rank') {
			yval = i;
		} else {
			yval = data[i][yaxis];
		}
		plotData[s].data.push([ xval, yval ]);
		seriesToIndex[s].push(i);
	} */
	var plotArray = [];
	for (s in plotData) {
		plotArray.push(plotData[s]);
	}

	  var xmode = null;
	  var ymode = null;
          var xaxis = $('select[name|="xaxis"]').val();
	  var yaxis = $('select[name|="yaxis"]').val();

	  for (i in timeFields) {
		  if (timeFields[i] == xaxis) {
			  xmode = "time";
		  }
		  if (timeFields[i] == yaxis) {
			  ymode = "time";
		  }
	  }
	  $("#legend").html(""); // won't automatically be cleared if we no longer have a legend
          $("#count").html(Object.keys(xdata).length);

  $("#results_plot").on("plothover", plothoverHandler);
  $("#results_plot").on("plotclick", plotclickHandler);
  $("#hoverlabel").html('&nbsp;');

	  return $.plot($("#results_plot"),
			plotArray,
			  {series: {shadowSize: 0, lines: {lineWidth:1}},
			   grid: { hoverable: true, clickable: true, backgroundColor: '#929292' },
			   yaxis: { mode: ymode  },
			   xaxis: { mode: xmode },
				legend : {
					show : (series != '') && (series != 'None'),
					container: $("#legend"),
					noColumns : 10,
					sorted: true,
					backgroundOpacity : 0
				}
			 });

}

function plothoverHandler(event, pos, item) {
    if (item) {
        $("#hoverlabel").html(alldata.Name[seriesToPk[item.series.label][item.dataIndex]])
		$("#hoverlabel").css("color",item.series.color);
    } else {
		$("#hoverlabel").html('&nbsp;');
    }
}

function plotclickHandler(event, pos, item) {
	    if (item) {
                var id = parseInt(seriesToPk[item.series.label][item.dataIndex]);
                self.location = "{% url 'xgds_data_displayRecord' module model '' %}"+id;
	    }
	}

function escapeHtml(text) {
  var map = {
    '&': '&amp;',
    '<': '&lt;',
    '>': '&gt;',
    '"': '&quot;',
    "'": '&#039;'
  };

  return text.replace(/[&<>"']/g, function(m) { return map[m]; });
}

$('select[name|="xaxis"]').change(update);
$('select[name|="yaxis"]').change(update);
$('select[name|="series"]').change(update);

var alldata = {};
var ajaxData = {
                'fields': [],
		{% for field in formset.management_form %}                   "form-{{ field.name }}": "{{ field.value }}",
		{% endfor %}
		{% for form in formset %}{% for field in form %}{% if field.value == None or field.value == '' %}{% else %}                   "form-0-{{ field.name }}": "{{ field.value }}"{% if not forloop.last %},{% endif %}
		{% endif %}{% endfor %}{% endfor %}
		};
// console.log($('select[name|="xaxis"]').val());
// console.log($('select[name|="yaxis"]').val());
// console.log($('select[name|="series"]').val());

//requestData(0); // weird semantics that gets name and rank metadata

{% block ajaxUrl %}
var ajaxUrl = "{% url 'xgds_data_getFieldValues' module model ''%}";
{% endblock ajaxUrl %}

function requestData(field, callback) {

  $("#results_plot").off("plothover");
  $("#results_plot").off("plotclick");
   $("#hoverlabel").css("color",'red');

    var iload = 0,
    loader = setInterval(function() {
      iload = ++iload % 4;
      $("#hoverlabel").html("Loading" + Array(iload).join('.'));
    }, 600);

               $.ajax({
                       type: "POST",
                       url: ajaxUrl + field{% if not soft %} + "/exact"{% endif %},
                       data: ajaxData,
                       success: function(data) {
				data.forEach(function(values) {
					var id = values['{{pk}}'];
					for (var k in values) {
						if (k != '{{pk}}') {
							var fieldvals = alldata[k];
							if (fieldvals == undefined) {
								fieldvals = {};
								alldata[k] = fieldvals;
							}
                            if (values[k] == "None") {
							    fieldvals[id] = "unspecified";
                            } else if ($.type(values[k]) === "string") {
							    fieldvals[id] = escapeHtml(values[k]);
                            } else {
							    fieldvals[id] = values[k];
                            }
						}
					}
				});
                clearInterval(loader);
                $("#hoverlabel").html('&nbsp;');
				if (callback) {
					callback();
				}
         	},
            error: function(xhr, status, error) {
                 clearInterval(loader);
                 $("#hoverlabel").html('Error');
            }
});
}


function cgiArgs(alist) {
	var list = [];

	for (name in alist) {
		list.push( encodeURIComponent(name) + '=' + encodeURIComponent(alist[name]) );
	}

	return list.join('&');
}

  var timeFields = {{ timeFields|safe }};
  {% comment %}   var data = {{ plotData|safe }} ;
  var names = {{ labels|safe }} ; {% endcomment %}
  //makePlot({},{},{});
  var plot = update();

</script>

{% endblock %}


{% block contents %}
<h6>{{ title }}</h6>

{% for d in debug %}
<span>{{ d }}</span>
{% endfor %}
{% if soft %}
<form name='PlotForm' action="{% url 'xgds_data_searchPlotQueryResults' module model %}" method="post">
{% else %}
<form name='PlotForm' action="{% url 'xgds_data_searchPlotQueryResults' module model 'exact' %}" method="post">
{% endif %}
  <input type="hidden" name="mode" value="query">
    {{ formset.management_form }}
    {% for form in formset %}
		{% for field in form %}
        	{{ field.as_hidden }}
		{% endfor %}
    {% endfor %}

<div style="margin:auto; width:95%; height:800px;">

<table>
<tr><th>{{ axesform.xaxis.label_tag }}: </th><td>{{ axesform.xaxis }}</td></tr>
<tr><th>{{ axesform.yaxis.label_tag }}: </th><td>{{ axesform.yaxis }}</td></tr>
{% if axesform.fields.series.choices|length == 1 %}
	{% comment %}
	There's probably a better way to do this but I couldn't find it.
	We just want the displayed choice name, not the actual value.
	There will be exactly one choice, so looping isn't necessary, but could not find an alternative.
	{% endcomment %}
	{% for value, displayName in axesform.fields.series.choices %}
		<tr><th>{{ axesform.series.label_tag }}: </th><td>{{ axesform.series.as_hidden }}{{ displayName }}</td></tr>
	{% endfor %}
{% else %}
	<tr><th>{{ axesform.series.label_tag }}: </th><td>{{ axesform.series }}</td></tr>
{% endif %}
</table>

{% if formset.cleaned_data %}
	<div align="center" id="hoverlabel" style="margin:auto;">&nbsp;</div>
	<div id="results_plot" style="height:80%;">Loading...<BR /><BR /><BR />
	<span>(if this message doesn't go away, Javascript is probably disabled.)</span>
	</div>
	<div id="legend"></div>
	<HR>
	<div>Plotting <span id="count">0</span> records</div>
{% endif %}
</div>
</form>

{% endblock %}

