{% extends "base.html" %}
{% load xgds_data_extras %}

{% load url from future %}
{% load nav %}
{% block siteSection %}{{ title }}{% endblock %}
{% block nav %}
   {{ block.super }}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}style/jquery-ui.css" ></link>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/ResultList.css" ></link>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/jquery/jquery-ui-1.8.12.custom.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/jquery/jquery-ui-timepicker-addon.js"></script>
  <script type="text/javascript">
  function submitform(mode)
  {
	if ($('#simple').length == 0) {
		document.QueryForm.action = "{% url 'xgds_data_searchChosenModel' module model %}";
	} else {
		document.QueryForm.action = "{% url 'xgds_data_searchChosenModel' module model 'expert' %}";
	}
	document.QueryForm["mode"].value = mode;
    document.QueryForm.submit();
  }
  function changemode(isExpert)
  {
	if (!isExpert) {
		var allOperators = $("[id$=_operator]");
		for (var i=0; i < allOperators.length; i++) {
			allOperators[i].value = allOperators[i].options[0].value;
		}
		document.QueryForm.action = "{% url 'xgds_data_searchChosenModel' module model %}";
	} else {
		document.QueryForm.action = "{% url 'xgds_data_searchChosenModel' module model 'expert' %}";
	}
    document.QueryForm.submit();
  }
  function gotoPage(page) {
		$("#id_pageno")[0].value = page.toString();
		submitform('query');
	}
  
{% for f in datetimefields %}
  $('#id_{{f}}_lo').datetimepicker({addSliderAccess: false});
  $('#id_{{f}}_hi').datetimepicker({addSliderAccess: false});
{% endfor %}
$("#addform").click(function() {
	submitform('addform');
});
$("#query").click(function() {
	submitform('query');
});
$("#csv").click(function() {
	submitform('csv');
});
$("#csvhard").click(function() {
	submitform('csvhard');
});
$("#simple").click(function() {
	changemode(false);
});
$("#expert").click(function() {
	changemode(true);
});
$("#plot").click(function() {
	document.QueryForm.action = "{% url 'xgds_data_searchPlotQueryResults' module model 0 10000 %}";
	document.QueryForm.submit();
});
$("#plothard").click(function() {
	document.QueryForm.action = "{% url 'xgds_data_searchPlotQueryResults' module model 'exact' 0 10000 %}";
	document.QueryForm.submit();
});
$("#prevpage").click(function() {
	gotoPage({{ resultsPage.previous_page_number }});
});
$("#nextpage").click(function() {
	gotoPage({{ resultsPage.next_page_number }});
});

function clearResults() { $('#results').html("") }

$('input').change(clearResults);
$('select').change(clearResults);
  </script>
  
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery.flot.min.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery.flot.threshold.min.js"></script>

{% endblock %}


{% block contents %}	
<div style="text-align:right;">
{% if expert %}
	<A id="simple">Change to Simple</A>
{% else %}
	<A id="expert">Change to Advanced</A>
{% endif %}
</div>
<h2>{{ title }}</h2>  	
{% for d in debug %}
	<span>{{ d }}</span>
{% endfor %}
{% if expert %}
	<form name='QueryForm' action="{% url 'xgds_data_searchChosenModel' module model 'expert' %}" method="post">
{% else %}
	<form name='QueryForm' action="{% url 'xgds_data_searchChosenModel' module model %}" method="post">
{% endif %}
  <input type="hidden" name="mode" value="query">
  <input type="hidden" name="pageno" id="id_pageno">
  
{% if axesform %}
    {% for field in axesform %}
          {{ field.as_hidden }} 
  {% endfor %}
{% endif %}

{{ formset.management_form }}
{% for form in formset %}
    <table>
    {% if expert %}
		{{ form.as_expert_table }}
	{% else %}
		{{ form.as_table }}
	{% endif %}
    </table>
 
{% endfor %}

<input type="submit" value="Search" id="query" />
{% if expert %}
	<input type="submit" value="Add Disjunction" id="addform" /> 
{% endif %}

 <div id='results'>    
{% if count %}
	<HR>
	{% if count == exactCount %}
		{{ count }} matching records
	{% else %}
		About {{ count }} matching records
		{% if exactCount == 0 %}
			(no
		{% else %}
			({{ exactCount }}
		{% endif %}
		exact
		{% if exactCount == 1 %}
			match)
		{% else %}
			matches)
		{% endif %}
	{% endif %}
	<BR />
	{% if count > 0 %}
    	<input type="submit" value="Download All Matches" id="csv" />
    {% else %}
    	<input type="submit" value="Download All Matches" id="csv" disabled />
    {% endif %}
    {% if count != exactCount %}
	    {% if exactCount > 0 %}
	    	<input type="submit" value="Download Exact Matches" id="csvhard" />
	    {% else %}
	    	<input type="submit" value="Download Exact Matches" id="csvhard" disabled />
	    {% endif %}
    {% endif %}
    {% if axesform %}
	    {% if count > 10000 %}
	    	<input type="submit" value="Plot Matches" id="plot" title="Plot limited to 10000 records" /> 
	    {% elif count > 0 %}
	    	<input type="submit" value="Plot Matches" id="plot"/> 
	    {% else %}
	    	<input type="submit" value="Plot Matches" id="plot" disabled /> 
	    {% endif %}
	    {% if count != exactCount %}
		    {% if exactCount > 10000 %}
		    	<input type="submit" value="Plot Exact Matches" id="plothard" title="Plot limited to 10000 records" /> 
		    {% elif exactCount > 0 %}
		    	<input type="submit" value="Plot Exact Matches" id="plothard"/> 
		    {% else %}
		    	<input type="submit" value="Plot Exact Matches" id="plothard" disabled />
		    {% endif %}
	    {% endif %}
    {% endif %}
    
    <div style="position:relative;">

<div style = "position:absolute;top:0px;width:100%;overflow-x:scroll;z-index:1;"> 

    <table class="ResultList">
	<tr>
	{% if checkable %}
		<td style="visibility:hidden;"><input type="checkbox" /></td>
	{% endif %}
	<td style="visibility:hidden;">Record</td>
	  {% for x in displayFields %}
	  <td>{{ x.verbose_name }}</td>
	  {% endfor %}
	  </tr>
	{% for result in results %}
	<tr>
		{% if checkable %}
		<td style="visibility:hidden;">
			{% if result.id in picks %}
			<input type="checkbox" id="pick_{{result.id}}" name="picks" value="{{result.id}}" CHECKED />
			{% else %}
		    <input type="checkbox" id="pick_{{result.id}}" name="picks" value="{{result.id}}"/>
		    {% endif %}
		     </td>
	     {% endif %}
	   <td>{{result}}</td>
 	 {% for x in displayFields %}
	  <td>
	  {{ result|getattribute:x.name }}
	  </td>
	  {% endfor %}
	</tr>
	{% endfor %}
	</table>
</div>

<div style = "position:relative;top:0px;width:100%;overflow-x:hidden;z-index:1;"> 
	
	    <table class="ResultListFixed">
	<tr>
	{% if checkable %}
	<td style="background-color:#d3e9ff;"><input type="checkbox" id="pick_master" /></td>
	{% endif %}
	<td style="background-color:#d3e9ff;">Record</td>
	  {% for x in displayFields %}
	  <td style="visibility:hidden;">{{ x.verbose_name }}</td>
	  {% endfor %}
	  </tr>
	{% for result in results %}
	<tr>
		{% if checkable %}
			{% if forloop.counter|modulo:2 == 1 %}
				<td style="background-color:#d3e9ff;">
				{% else %}
				<td style="background-color:#ffffff;">
			{% endif %}
			{% if result.id in picks %}
			<input type="checkbox" id="pick_{{result.id}}" name="picks" value="{{result.id}}" CHECKED />
			{% else %}
		    <input type="checkbox" id="pick_{{result.id}}" name="picks" value="{{result.id}}"/>
		    {% endif %}
		     </td>
	    {% endif %}
	   	{% if forloop.counter|modulo:2 == 1 %}
			<td style="background-color:#d3e9ff;">
			{% else %}
			<td style="background-color:#ffffff;">
		{% endif %}
	   {{result}}</td>
 	 {% for x in displayFields %}
	  <td style="visibility:hidden;">
	  {{ result|getattribute:x.name }}
	  </td>
	  {% endfor %}
	</tr>
	{% endfor %}
	</table>
	
	</div>

<BR />

</div>

		{% if resultsPage.has_previous %}
			<input type="submit" value="Previous" id="prevpage"/>
		{% else %}
			<input type="submit" value="Previous" id="prevpage" disabled />
		{% endif %}
		<span>Page {{ page }}</span>
		{% if resultsPage.has_next %}
			<input type="submit" value="Next" id="nextpage"/>
		{% else %}
			<input type="submit" value="Next" id="nextpage" disabled />
		{% endif %}

{% elif formset.cleaned_data %}
	<HR>
	No records match 
{% endif %}
</div>
</form>

{% endblock %}

