{% extends "base.html" %}
{% load xgds_data_extras %}

{% load url from future %}
{% load nav %}
{% block siteSection %}{{ title }}{% endblock %}

{% block scripts %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}external/css/jquery/jquery-ui.css" ></link>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}xgds_data/css/ResultList.css" ></link>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery/jquery-ui.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery/jquery-ui-timepicker-addon.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/DataTables-1.9.4/jquery.dataTables.min.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/DataTables-1.9.4/FixedColumns.min.js"></script>



<style>
.dataTables_paginate a {
 	text-decoration: none !important;
    display: inline-block;
    padding: 3px;
    margin-right: 3px !important;
    margin-left: 3px;
    padding-right: 5px;
    padding-left: 5px;
    display: inline-block;
    background: #777;
    border: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}
</style>

              
  <script type="text/javascript">
  

  
  function zeroPad(integer,width) {
	  var string = integer.toString();
	  while (string.length < width) {
		  string = "0"+string;
	  }
	  
	  return string;
  }
  
  function convertToUTC(string) {
	  var months = ['Jan','Feb','Mar','Apr','May','June',
	                'Jul','Aug','Sep','Oct','Nov','Dec'];
	  
	  var d = new Date(string);
	  var mo = zeroPad((1+d.getUTCMonth()),2);
	  var date = zeroPad(d.getUTCDate(),2);
	  var year = d.getUTCFullYear().toString();
	  var hours = zeroPad(d.getUTCHours(),2);
	  var minutes = zeroPad(d.getUTCMinutes(),2);
	  var seconds = zeroPad(d.getUTCSeconds(),2);

	  return mo+'/'+date+'/'+year+' '+hours+':'+minutes+':'+seconds;
  }
  
  function submitform(fnctn)
  {
	if ($('#simple').length == 0) {
		document.QueryForm.action = "{% url 'xgds_data_searchChosenModel' module model %}";
	} else {
		document.QueryForm.action = "{% url 'xgds_data_searchChosenModel' module model 'expert' %}";
	}
	try { 
	{% for f in datetimefields %}
	var timeLo = $('#id_{{f}}_lo').val();
	var timeHi = $('#id_{{f}}_hi').val();
	if (timeLo && timeLo.search(/[\-\+]/) >= 0) {
		var newval = convertToUTC(timeLo);
		$('#id_{{f}}_lo').val(newval);
	}
	if (timeHi && timeHi.search(/[\-\+]/) >= 0) {
		var newval = convertToUTC(timeHi);
		$('#id_{{f}}_hi').val(newval);
	}
	{% endfor %}
	} catch (err) {
		
		alert(err)
	}
	document.QueryForm["fnctn"].value = fnctn;
    document.QueryForm.submit();
    return false;
  }
  
  function changemode(isExpert)
  {
	if (!isExpert) {
		var allOperators = $("[id$=_operator]");
		for (var i=0; i < allOperators.length; i++) {
			allOperators[i].value = allOperators[i].options[0].value;
		}
		document.QueryForm.action = "{% url 'xgds_data_searchChosenModel' module model %}";
	} else {
		document.QueryForm.action = "{% url 'xgds_data_searchChosenModel' module model 'expert' %}";
	}
    document.QueryForm["fnctn"].value = 'change';
	$("#id_pageno").val(1); 
    document.QueryForm.submit();
  }

  function gotoPage(page) {
		$("#id_pageno").val(page);
		document.QueryForm["fnctn"].value = 'query';
		submitform('query');
	}
  
  var oTable;
  
  function syncFramesize() {
		  var nheight = $(window).height(); // New height
		  var nwidth = $(window).width(); // New width

		  //$("#outerresults").height(nheight - 50);
		  $("#outerresults").width(nwidth - 50);
	      //$('div.dataTables_scrollBody').css('height',(nheight - 75)+'px');
	      //$('div.DTFC_LeftBodyWrapper').css('height',(nheight - 75)+'px');
	      //oTable.fnAdjustColumnSizing();
		}
  
  function initDataFrame() {
	oTable = $('#tableresults').dataTable( {
		"sScrollY": "500px",
		"sScrollX": "100%",
//		"sScrollXInner": "150%",
		"sHeightMatch": "none",
		"bScrollCollapse": true,
        "bFilter": false,
        "bInfo": false,
		"bPaginate": false,
		"bSort": false,
		"aoColumnDefs": [
			{ "bSortable": false, "bFilter": false, "aTargets": [ 0 ] }
		]
	} );
	{% if checkable %}
	new FixedColumns( oTable, { "iLeftColumns": 2, "iLeftWidth": 115 } );
	{% else %}
	new FixedColumns( oTable, { "iLeftColumns": 1 } );
	{% endif %}
}

if ($('#tableresults').length) {
	// $(document).ready(initDataFrame);
	$(window).resize(syncFramesize);
}

window.onload = initDataFrame;
  
{% for f in datetimefields %}
  $('#id_{{f}}_lo').datetimepicker({addSliderAccess: false, showTimezone: true, timezone: '+0000', timeFormat: 'hh:mm:ss tt z'});
  $('#id_{{f}}_hi').datetimepicker({addSliderAccess: false, showTimezone: true, timezone: '+0000', timeFormat: 'hh:mm:ss tt z'});
{% endfor %}
$("#addform").click(function() {
	submitform('addform');
});
$("#query").click(function() {
	submitform('query');
});
$("#csv").click(function() {
	submitform('csv');
});
$("#csvhard").click(function() {
	submitform('csvhard');
});
$("#simple").click(function() {
	changemode(false);
});
$("#expert").click(function() {
	changemode(true);
});
$("#plot").click(function() {
	document.QueryForm.action = "{% url 'xgds_data_searchPlotQueryResults' module model 0 10000 %}";
	document.QueryForm.submit();
});
$("#plothard").click(function() {
	document.QueryForm.action = "{% url 'xgds_data_searchPlotQueryResults' module model 'exact' 0 10000 %}";
	document.QueryForm.submit();
});
$("#prevpage").click(function() {
	var page = parseInt($("#id_pageno").val()) - 1;
	gotoPage(page);
});
$("#nextpage").click(function() {
	var page = parseInt($("#id_pageno").val()) + 1;
	gotoPage(page);
});

function resetResults() { 
//	$('#results').html(""); 
	$("#id_pageno").val(1); 
}

$('input[id$="control"]').change(resetResults);
$('input[type=text][id$="_lo"]').change(resetResults);
$('input[type=text][id$="_hi"]').change(resetResults);
$('select').change(resetResults);
  </script>
  
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery/jquery.flot.min.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery/jquery.flot.threshold.min.js"></script>

{% endblock %}

{% block contents  %}
{% block query %}	
<div style="text-align:right;">
{% if expert %}
	<A id="simple">Change to Simple</A>
{% else %}
	<A id="expert">Change to Advanced</A>
{% endif %}
</div>
<h2>{{ title }}</h2>  	
{% for d in debug %}
	<span>{{ d }}</span>
{% endfor %}
{% if expert %}
	<form name='QueryForm' action="{% url 'xgds_data_searchChosenModel' module model 'expert' %}" method="post">
{% else %}
	<form name='QueryForm' action="{% url 'xgds_data_searchChosenModel' module model %}" method="post">
{% endif %}
  <input type="hidden" name="fnctn" value="query">
  <input type="hidden" name="pageno" id="id_pageno" value={{ page }}>
  
{% if axesform %}
    {% for field in axesform %}
          {{ field.as_hidden }} 
  {% endfor %}
{% endif %}

{{ formset.management_form }}
{% for form in formset %}
    <table>
    {% if expert %}
		{{ form.as_expert_table }}
	{% else %}
		{{ form.as_table }}
	{% endif %}
    </table>
 
{% endfor %}

<input type="submit" value="Search" id="query" />
{% if expert %}
	{% if 'this code' == 'is no longer broken' %}
	<input type="submit" value="Add Disjunction" id="addform" /> 
	{% endif %}
{% endif %}

{% endblock query %}

{% block results  %}

 <div id='results'>    
{% if count %}

	<HR>

{% block count  %}	
	     {% if count != exactCount %}
     <TABLE  style="float: right;">
     <TR><TH rowspan=2>Key</TH><TD class="ResultListExactOdd">Exact</TD><TD class="ResultListExactEven">Match</TD></TR>
     <TR><TD class="ResultListInexactOdd">Close</TD><TD class="ResultListInexactEven">Match</TD></TR>
     </TABLE>
     {% endif %}
	
	{% if count == exactCount %}
		{{ count }} matching records
	{% else %}
		About {{ count }} matching records
		{% if exactCount == 0 %}
			(no
		{% else %}
			({{ exactCount }}
		{% endif %}
		exact
		{% if exactCount == 1 %}
			match)
		{% else %}
			matches)
		{% endif %}
	{% endif %}
	in {{ duration }} seconds.
	<BR />
{% endblock %}

{% block download  %}
	Download results:
	{% if count != exactCount %}
		{% if count > 0 %}
	    	<input type="submit" value="Records (All)" id="csv" />
	    {% else %}
	    	<input type="submit" value="Records (All)" id="csv" disabled />
	    {% endif %}
    {% endif %}
    {% if exactCount > 0 %}
    	<input type="submit" value="Records (Exact)" id="csvhard" />
    {% else %}
    	<input type="submit" value="Records (Exact)" id="csvhard" disabled />
    {% endif %}
{% endblock %}

{% block plot  %}
    {% if axesform %}
    	<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    	<span style="white-space:nowrap;">Plot results:
	    {% if count != exactCount %}
		    {% if count > 10000 %}
		    	<input type="submit" value="Records (All)" id="plot" title="Plot limited to 10000 records" /> 
		    {% elif count > 0 %}
		    	<input type="submit" value="Records (All)" id="plot"/> 
		    {% else %}
		    	<input type="submit" value="Records (All)" id="plot" disabled /> 
		    {% endif %}
	    {% endif %}
	    {% if exactCount > 10000 %}
	    	<input type="submit" value="Records (Exact)" id="plothard" title="Plot limited to 10000 records" /> 
	    {% elif exactCount > 0 %}
	    	<input type="submit" value="Records (Exact)" id="plothard"/> 
	    {% else %}
	    	<input type="submit" value="Records (Exact)"" id="plothard" disabled />
	    {% endif %}
	    </span>
    {% endif %}
    <div style="min-height:5px;max-height:5px;"></div>
{% endblock %}

{% block listing  %}
<div id="outerresults">

    <table class="ResultList" id="tableresults">
   <thead>
	<tr>
	{% if checkable %}
		<th><input type="checkbox" id="pick_master" /></th>
	{% endif %}
	<th>Record</th>
	  {% for x in displayFields %}
	  <th>{{ x|verbose_name }}</th>
	  {% endfor %}
	  </tr>
	  </thead>
	  
	  <tbody>
	{% for result in results %}

		    {% with myscore=result|getattribute:'score' %}
				{% if myscore >= 1 %}
					{% if forloop.counter|modulo:2 == 1 %}
						<tr class="ResultListExactOdd">
					{% else %}
						<tr class="ResultListExactEven">
					{% endif %}
				{% else %}
					{% if forloop.counter|modulo:2 == 1 %}
						<tr class="ResultListInexactOdd">
					{% else %}
						<tr class="ResultListInexactEven">
					{% endif %}
				{% endif %}			
		    {% endwith %}

	
		{% if checkable %}
		<td>
			{% if result|getattribute:pk.name in picks %}
			<input type="checkbox" id="pick_{{result|getattribute:pk.name}}" name="picks" value="{{result|getattribute:pk.name}}" CHECKED />
			{% else %}
		    <input type="checkbox" id="pick_{{result|getattribute:pk.name}}" name="picks" value="{{result|getattribute:pk.name}}"/>
		    {% endif %}
		     </td>
	     {% endif %}
	   <td>{{result}}</td>
 	 {% for x in displayFields %}
	   <TD >
	  {% with myval=result|getattribute:x %}
	     <SPAN {% if myval|isNumeric %}style="white-space:nowrap;"{% endif %}>
	  	{{ x|display:myval }}
	    </SPAN>
	  {% endwith %}
	  </TD>
	  {% endfor %}
	</tr>

	
	{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
		
	{% with divpage=1|divide:pageSize %}
	{% with end_index=page|divide:divpage|floatformat:"0"  %}
	{% with start_index=pageSize|divide:-1|add:end_index|add:1  %}
	{% with last_page=count|divide:pageSize|addfloat:0.4999|floatformat:"0"|add:0  %}
	{% with last_page_plus_one=last_page|add:1  %}
	<div id="pager">
	<input type="hidden" name="start" id="id_start" >
	<input type="hidden" name="end"  id="id_end">
		<span class="counts">Displaying {{start_index}}-
		{% if end_index < count %}{{end_index}}{% else %}{{count}}{% endif %}
		 out of {{ count }} records</span>
		<div class="dataTables_paginate" style="float: right;">

	
		{% if page > 1 %}<a href="javascript:gotoPage({{ page|add:"-1" }});">Previous</a>{% else %}<a class="ui-state-disabled">Previous</a>{%endif%}
		{% for num in 1|range:last_page_plus_one %}  
			{% if num < page|add:"3" and num > page|add:"-3" or num < 3 or num > last_page|add:"-2" %}
			   {% ifequal num page %}
		            <a class="ui-state-disabled">{{num}}</a>
		        {% else %} 
			   		<a href="javascript:gotoPage({{ num }});">{{ num }}</a>
			   	{% endifequal %}
		   {% elif num == page|add:"3" or num == page|add:"-3" %}
		   		...
		   {% endif %}  
		{% endfor %}  
		{% if more %}<a href="javascript:gotoPage({{ page|add:"1" }});">Next</a>{% else %}<a class="ui-state-disabled">Next</a>{%endif%}

	    </div>


	    
	    
	    
	</div>
	{% endwith %}
	{% endwith %}
	{% endwith %}
	{% endwith %}
	{% endwith %}


{% elif count == 0 %}
	<HR>
	No records match 
{% endif %}
</div>
</form>

{% endblock %}

{% endblock %}

