{% extends base %}
{% load staticfiles %}
{% load nav %}
{% load xgds_data_extras %}

{% block siteSection %}{{ title }}{% endblock %}

{% block cssExtras %}
{{ block.super }}
<style type="text/css" title="currentStyle">
{% if standalone %}
	@import "{% static "external/css/jquery/jquery-ui.css" %}";
{% else %}
	@import "{{ EXTERNAL_URL }}jquery-ui-dist/jquery-ui.min.css";
{% endif %}
	@import "{% static "xgds_data/css/ResultList.css" %}";
</style>
{% endblock cssExtras %}

{% block scripts %}
  {{ block.super }}
{% if standalone %}
  <script language="javascript" type="text/javascript"
  	src="{% static "external/js/jquery/jquery-ui.js" %}"></script>
  <script language="javascript" type="text/javascript"
  	src="{% static "external/js/jquery/jquery-ui-timepicker-addon.js" %}"></script>
  <script language="javascript" type="text/javascript"
	  src="{% static "external/js/DataTables/jquery.dataTables.min.js" %}"></script>
  <script language="javascript" type="text/javascript"
	  src="{% static "external/js/DataTables/dataTables.fixedColumns.min.js" %}"></script>
{% else %}
  <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jquery-ui-dist/jquery-ui.min.js"></script>
  <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jquery-ui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
  <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}datatables/media/js/jquery.dataTables.min.js"></script>
  <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}datatables.net-fixedcolumns/js/dataTables.fixedColumns.js"></script>
{% endif %}
  <script type="text/javascript">
  function zeroPad(integer,width) {
	  var string = integer.toString();
	  while (string.length < width) {
		  string = "0"+string;
	  }

	  return string;
  }

  function convertToUTC(string) {
	  var months = ['Jan','Feb','Mar','Apr','May','June',
	                'Jul','Aug','Sep','Oct','Nov','Dec'];

	  var d = new Date(string);
	  var mo = zeroPad((1+d.getUTCMonth()),2);
	  var date = zeroPad(d.getUTCDate(),2);
	  var year = d.getUTCFullYear().toString();
	  var hours = zeroPad(d.getUTCHours(),2);
	  var minutes = zeroPad(d.getUTCMinutes(),2);
	  var seconds = zeroPad(d.getUTCSeconds(),2);

	  if (seconds == 0) {
 	     return mo+'/'+date+'/'+year+' '+hours+':'+minutes;
          } else {
 	     return mo+'/'+date+'/'+year+' '+hours+':'+minutes+':'+seconds;
          }
  }

{% block submitURL %}
var submitURL="{% url 'xgds_data_searchChosenModel' module model %}";
var submitExpertURL="{% url 'xgds_data_searchChosenModel' module model 'expert' %}";
{% endblock submitURL %}

{% block plotURL %}
var plotURL="{% url 'xgds_data_searchPlotQueryResults' module model %}";
var plotExactURL="{% url 'xgds_data_searchPlotQueryResults' module model 'exact'%}";
{% endblock plotURL %}

  function submitform(fnctn,pageno)
  {
	if ($('#simple').length == 0) {
		document.QueryForm.action = submitURL;
	} else {
		document.QueryForm.action = submitExpertURL;
	}
	try {
	{% for f in datetimefields %}
	var timeLo = $('#id_{{f}}_lo').val();
	var timeHi = $('#id_{{f}}_hi').val();
	if (timeLo && timeLo.search(/[\-\+]/) >= 0) {
		var newval = convertToUTC(timeLo);
		$('#id_{{f}}_lo').val(newval);
	}
	if (timeHi && timeHi.search(/[\-\+]/) >= 0) {
		var newval = convertToUTC(timeHi);
		$('#id_{{f}}_hi').val(newval);
	}
	{% endfor %}
	} catch (err) {

		alert(err)
	}
	document.QueryForm["fnctn"].value = fnctn;
    $("#id_pageno").val(pageno);
    {% block submitPostProcess %}
    {% endblock submitPostProcess %}
    document.QueryForm.submit();
    return false;
  }

  function changemode(isExpert)
  {
	if (!isExpert) {
		var allOperators = $("[id$=_operator]");
		for (var i=0; i < allOperators.length; i++) {
			allOperators[i].value = allOperators[i].options[0].value;
		}
		document.QueryForm.action = submitURL;
	} else {
		document.QueryForm.action = submitExpertURL;
	}
    document.QueryForm["fnctn"].value = 'change';
    $("#id_pageno").val(1);
    document.QueryForm.submit();
  }

  function gotoPage(page) {
		//$("#id_pageno").val(page);
		//document.QueryForm["fnctn"].value = 'query';
		submitform('query',page);
	}


  var oTable;
  // must calculate once, on startup,
  var headroom; // height of nonresult stuff

  // this is how much space we have for the datatable
  function calcOuterResultsHeight(occupied) {
    if (headroom == undefined) {
        headroom = $(document).height() - $("#outerresults").height();
        // headroom = Math.min($(document).height(),$("html").height()) - $("#outerresults").height();
    }
      var px = $(window).height() - headroom;
      var error = 30; // there's a small amount of error, perhaps dropshadow?
      var contentHeight = $('#tableresults').height()+ error + $(".dataTables_scrollHead").height() + occupied;

      return Math.min(px, contentHeight);
   }

  function syncFramesize() {
      // occupied is other stuff also in outterresults (i.e, not the datatable)
      var occupied = -$("#tableresults_wrapper").height();
      var offspring = $("#outerresults").children();
      offspring.each(function() { occupied = occupied + $(this).height(); });

      var desired = calcOuterResultsHeight(occupied);
      // we want outterresults height to be the data table height

      var tableFixedLeft = $('.DTFC_LeftBodyWrapper');
      var tableRight = $('#tableresults').parent();
      var tableHead = $(".dataTables_scrollHead");
      // aka DTFC_ScrollWrapper
      var tableAll = $('#tableresults').parent().parent().parent();

      var excess = $("#outerresults").height() - desired;
      var tableBodyHeight = tableRight.height() - excess;
      var tableHeight = tableAll.height() - excess;

      tableFixedLeft.height(tableBodyHeight+'px');
      tableRight.height(tableBodyHeight+'px');
      tableAll.height(tableHeight+'px');

      var padding = $('body').outerHeight(true) - $('window').height();
      if (padding > 0) {
          $('body').outerHeight($('body').outerHeight()-padding);
      }
   }

  function initDataFrame() {
		{% if standalone %}
		{% else %}
//      $('#page').height(1200);
//      $('#page-content').height(1100);
	    {% endif %}
    var options = {
	"initComplete": function(settings, json) { syncFramesize(); },
    		"scrollY": "100%", // calcOuterResultsHeight(),
    		"scrollX": "100%",
            "searching": false,
            "info": false,
    		"paging": false,
    		"autoWidth": true,
    		"jQueryUI": false,
    		"ordering": false,
    		"columnDefs": [
    			{ "targets": [ 0 ], "ordering": false, "searching": false }
    		]
    	};
	oTable = $('#tableresults').DataTable(options);
	{% if checkable %}
	{% if standalone %}
	new $.fn.dataTable.FixedColumns( oTable, { leftColumns: 2 } );
	{% else %}
	new $.fn.dataTable.FixedColumns( oTable, { leftColumns: 2, leftWidth: 115 } );
	{% endif %}
	{% else %}
	new $.fn.dataTable.FixedColumns( oTable, { leftColumns: 1 } );
	{% endif %}
    // syncFramesize();
        // $(".DTFC_LeftWrapper")[0].style.width = 0;
	// positionFooter();

	// it appears DataTables was setting this height, but that
	// messes up resizing
	$('#tableresults').parent().parent().parent().parent()[0].style.height = "";
}

if ($('#tableresults').length) {
	$(document).ready(initDataFrame);
	$(window).resize(syncFramesize);
}

// window.onload = initDataFrame;
// initDataFrame();

{% for f in datetimefields %}
var timeFormat = '{{ timeformat }}'
var seconds = false;
if (timeFormat.search("ss") > -1) {
  seconds = true;
}
$('#id_{{f}}_lo').datetimepicker({addSliderAccess: false, showTimezone: true, timezone: '+0000', showSecond: seconds, timeFormat: timeFormat });
$('#id_{{f}}_hi').datetimepicker({addSliderAccess: false, showTimezone: true, timezone: '+0000', showSecond: seconds, timeFormat: timeFormat });
{% endfor %}
$("#addform").click(function() {
	submitform('addform',1);
});
$("#query").click(function() {
	submitform('query',1);
});
$("#csv").click(function() {
	submitform('csv',1);
});
$("#csvhard").click(function() {
	submitform('csvhard',1);
});
$("#simple").click(function() {
	changemode(false);
});
$("#expert").click(function() {
	changemode(true);
});
$("#plot").click(function() {
	document.QueryForm.action = plotURL;
	document.QueryForm.submit();
});
$("#plothard").click(function() {
	document.QueryForm.action = plotExactURL;
	document.QueryForm.submit();
});
$("#prevpage").click(function() {
	var page = parseInt($("#id_pageno").val()) - 1;
	gotoPage(page);
});
$("#nextpage").click(function() {
	var page = parseInt($("#id_pageno").val()) + 1;
	gotoPage(page);
});
$("#query-toggle").click(function() {
       if ($("#query-section").css("display") == "none") {
            $("#query-close").css("display","none");
	    $("#query-open").css("display","block");
	    $("#query-section").css("display","block");
       } else {
            $("#query-close").css("display","block");
	    $("#query-open").css("display","none");
	    $("#query-section").css("display","none");
       }
});
$("#results-toggle").click(function() {
      if ($("#outerresults").css("display") == "none") {
	$("#results-close").css("display","none");
	$("#results-open").css("display","block");
	$("#outerresults").css("display","block");
      } else {
	$("#results-close").css("display","block");
	$("#results-open").css("display","none");
	$("#outerresults").css("display","none");
      }
});
/*
$("#results-open").click(function() {
	$("#results-close").css("display","block");
	$("#results-open").css("display","none");
	$("#outerresults").css("display","none");
});
$("#results-close").click(function() {
	$("#results-close").css("display","none");
	$("#results-open").css("display","block");
	$("#outerresults").css("display","block");
});
*/

{% if checkable  %}
{% comment %}
DataTables duplicates cells which complicates this logic.
We have duplicate checkboxes which we can't see and don't want to use.
To avoid them, only use those contained in the DTFC_Cloned class element.
This may not work in future versions of DataTables.
Tested with DataTables 1.9.4
{% endcomment %}
$('#pmaster').change(function() {
	var checked = $( ".DTFC_Cloned input:checked[id=pmaster]").length;
	var addin;
	if (checked) {
	    //alert('check!');
	     var affected = $( ".DTFC_Cloned input:not(:checked)[id^=pick]");
	     addin = affected.length;
	     affected.prop('checked',true)
	} else {
	    //alert('uncheck!');
	     var affected = $( ".DTFC_Cloned input:checked[id^=pick]");
	     addin = -affected.length;
	     affected.prop('checked',false)
	}
	$("#pickscount").html(addin+parseInt($("#pickscount").html()));
});

$('input[id^=pick]').change(function(event) {
	var addin = -1;
	if (this.checked) {
	  addin = 1;
	}
	$("#pickscount").html(addin+parseInt($("#pickscount").html()));
	var pickcount = $( ".DTFC_Cloned input[id^=pick]").length;
	var checkpickcount = $( ".DTFC_Cloned input:checked[id^=pick]").length
	if (pickcount == checkpickcount) {
	    //$('#pmaster').prop('checked',true);
	     $('.DTFC_Cloned input:not(:checked)[id=pmaster]').prop('checked',true)
	} else {

	     $('.DTFC_Cloned input:checked[id=pmaster]').prop('checked',false)
	    // $('#pmaster').prop('checked',false);
	}
});

{% endif %}

function resetResults() {
//	$('#results').html("");
	$("#id_pageno").val(1);
}

$('input[id$="control"]').change(resetResults);
$('input[type=text][id$="_lo"]').change(resetResults);
$('input[type=text][id$="_hi"]').change(resetResults);
$('select').change(resetResults);

{% comment %}
$(function () {
    if ({{ autoSubmit }}) {
        $('#query').click();
    }
});
{% endcomment %}

  </script>

{% if standalone %}
  <script language="javascript" type="text/javascript"
	  src="{% static "external/js/jquery/jquery.flot.min.js" %}"></script>
  <script language="javascript" type="text/javascript"
	  src="{% static "external/js/jquery/jquery.flot.threshold.min.js" %}"></script>
{% else %}
  <script language="javascript" type="text/javascript"
	  src="{{ EXTERNAL_URL }}flot/jquery.flot.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ EXTERNAL_URL }}flot/jquery.flot.threshold.js"></script>
{% endif %}

{% endblock scripts %}

{% block contents  %}
  <form name="QueryForm" action="" method="post">
  <input type="hidden" name="fnctn" value="query">
{{ formset.management_form }}
{% block query %}
<div id='query-div'>
<div style="float:right;text-align:right;">
{% if expert %}
	<a id="simple" class="btn btn-primary">Simple Search</a>
{% else %}
	<a id="expert" class="btn btn-primary">Advanced Search</a>
{% endif %}
</div>
<span id="query-toggle">
<span class="ui-accordion-header-icon fa fa-caret-down" style="float:left;{% if count %} display:none;{% endif %}" id="query-open"></span>
<span class="ui-accordion-header-icon fa fa-caret-right" style="float:left;{% if not count %} display:none;{% endif %}" id="query-close"></span>
<h6>{{ title }}</h6></span>
  <input type="hidden" name="pageno" id="id_pageno" value={{ page }}>

<div id="query-section" {% if count %}style="display:none;"{% endif %}>
{% for d in debug %}
	<span>{{ d }}</span>
{% endfor %}

{% if axesform %}
    {% for field in axesform %}
          {{ field.as_hidden }}
  {% endfor %}
{% endif %}

<table>

{% for form in formset %}
    {% if expert %}
		{{ form.as_expert_table }}
	{% else %}
		{{ form.as_table }}
	{% endif %}

{% endfor %}

	<tr>
	  <td colspan=5><input type="submit" class="btn btn-primary"  value="Search" id="query" style="float:right;"/></td>
	</tr>

</table>

{% if expert %}
	{% if 'this code' == 'is no longer broken' %}
	<input type="submit" value="Add Disjunction" id="addform" />
	{% endif %}
{% endif %}
</div>
</div>
{% endblock query %}
{% block results  %}
 <div id='results'>
{% if count %}

	<HR>

{% block count  %}
{% spaceless %}
<span id='results-toggle'>
<span class="ui-accordion-header-icon fa fa-caret-down" style="float:left;" id="results-open"></span>
<span class="ui-accordion-header-icon fa fa-caret-right" style="float:left; display:none;" id="results-close"></span>
	{% if count == exactCount %}
		{{ count }} matching records
	{% else %}
		About {{ count }} matching records
		{% if exactCount == 0 %}
			(no
		{% else %}
			({{ exactCount }}
		{% endif %}
		exact)
		{% if exactCount == 1 %}
			match
		{% else %}
			matches
		{% endif %}
	{% endif %}
	in {{ duration|floatformat }} seconds.
</span>
{% endspaceless %}
{% endblock count %}

    {% if count != exactCount %}
     <TABLE style="float: right; display: inline-block;">
    	{% if standalone %}
     		<TR><TH rowspan=2>Key</TH><TD class="mimicOddResultListExact">Exact</TD><TD class="mimicEvenResultListExact">Match</TD></TR>
     		<TR><TD class="mimicOddResultListInexact">Close</TD><TD class="mimicEvenResultListInexact">Match</TD></TR>
    	{% else %}
     		<TR><TH rowspan=2>Key</TH><TD class="mimicOddGradeA">Exact</TD><TD class="mimicEvenGradeA">Match</TD></TR>
     		<TR><TD class="mimicOddGradeX">Close</TD><TD class="mimicEvenGradeX ">Match</TD></TR>
     	{% endif %}
     </TABLE>
     {% endif %}

<span style="float:right;text-align:right;">
{% block download  %}
	{% if count != exactCount %}
		{% if count > 0 %}
	    	<input type="submit" class="btn btn-primary" value="Download CSV (All)" id="csv" />
	    {% else %}
	    	<input type="submit"  value="Download CSV (All)" id="csv" disabled />
	    {% endif %}
    {% endif %}
    {% if exactCount > 0 %}
    	<input type="submit" class="btn btn-primary"  value="Download CSV (Exact)" id="csvhard" />
    {% else %}
    	<input type="submit" value="Download CSV (Exact)" id="csvhard" disabled />
    {% endif %}
{% endblock download %}

{% block plot  %}
    {% if axesform %}
	    {% if count != exactCount %}
		    {% if count > 0 %}
		    	<input type="submit" class="btn btn-primary" value="Plot (All)" id="plot"/>
		    {% else %}
		    	<input type="submit" value="Plot (All)" id="plot" disabled />
		    {% endif %}
	    {% endif %}
	    {% if exactCount > 0 %}
	    	<input type="submit" class="btn btn-primary" value="Plot (Exact)" id="plothard"/>
	    {% else %}
	    	<input type="submit" value="Plot (Exact)" id="plothard" disabled />
	    {% endif %}
    {% endif %}
{% endblock plot %}
</span>

{% block listing  %}
<div id="outerresults" style="margin-top:15px;">
{% with divpage=1|divide:pageSize %}
	{% with end_index=page|divide:divpage|floatformat:"0"  %}
	{% with start_index=pageSize|divide:-1|add:end_index|add:1  %}
	<div id="pager1">

	<input type="hidden" name="start" id="id_start">
	<input type="hidden" name="end"  id="id_end">
		<span class="counts">Displaying {{start_index}}-
		{% if end_index|add:"0" < count|add:"0" %}{{end_index}}{% else %}{{count}}{% endif %}
		 out of {{ count }} records</span>
	{% if checkable %}
		(<span id="pickscount">{% if not allselected %}{{ picks|length }}{% else %}{{ notpicks|length|divide:-1|add:count }}{% endif %}</span>
selected - Select
<a href="javascript:submitform('selectall',{{page}});"><span style="text-decoration: underline;">All</span></a>
/
<a href="javascript:submitform('unselectall',{{page}});"><span style="text-decoration: underline;">None</span></a>
)
	{% endif %}

	 {% if count != exactCount and 1 == 0 %}
     <TABLE style="float: right;">
    	{% if standalone %}
     		<TR><TH rowspan=2>Key</TH><TD class="mimicOddResultListExact">Exact</TD><TD class="mimicEvenResultListExact">Match</TD></TR>
     		<TR><TD class="mimicOddResultListInexact">Close</TD><TD class="mimicEvenResultListInexact">Match</TD></TR>
    	{% else %}
     		<TR><TH rowspan=2>Key</TH><TD class="mimicOddGradeA">Exact</TD><TD class="mimicEvenGradeA">Match</TD></TR>
     		<TR><TD class="mimicOddGradeX">Close</TD><TD class="mimicEvenGradeX ">Match</TD></TR>
     	{% endif %}
     </TABLE>
     {% endif %}

{% include "xgds_data/paginator.html" %}
	</div>
	{% endwith %}
	{% endwith %}
	{% endwith %}

{% if standalone %}
   <table id="tableresults" class="compact cell-border ResultList">
   <thead>
{% else %}
   <table id="tableresults" class="compact cell-border display">
   <thead>
{% endif %}
	<tr>
	  {% block headerrow %}
	{% if checkable %}
	<th><input type="checkbox" id="pmaster" /></th>
	{% endif %}
	<th>Record</th>
	{% for x in displayFields %}
	<th>{{ x|verbose_name }}</th>
	{% endfor %}
	  {% endblock headerrow %}
   </tr>
   </thead>
	  <tbody>
	{% for result in results %}
		    {% with myscore=result|getattribute:'score' %}
				{% if myscore|addfloat:"1E-12" >= 1 %}
					{% if standalone %}
						<tr class="ResultListExact">
					{% else %}
						<tr class="gradeA">
					{% endif %}
				{% else %}
					{% if standalone %}
						<tr class="ResultListInexact">
					{% else %}
						<tr class="gradeX">
					{% endif %}
				{% endif %}
		    {% endwith %}

	   {% block datarow %}

		{% if checkable %}
		<td>
			{% with pid=resultfullids|getattribute:result %}
			<input type="checkbox" id="pick_{{pid}}" name="picks" value="{{pid}}"
{% if not allselected %}
{% if pid in picks %}CHECKED{% endif %}
{% else %}
{% if pid not in notpicks %}CHECKED{% endif %}
{% endif %}
 />
{% if allselected %}
<input type="hidden" id="notpick_{{pid}}" name="notpicks" value="{{pid}}" >
{% endif %}
			{% endwith %}
		     </td>
	     {% endif %}
	   <td>
	     {% with rname=result|stringformat:"s"|default:"&nbsp;" %}
             {% if result.get_absolute_url %}
               <a href="{{ result.get_absolute_url }}">{{ rname }}</a>
             {% else %}
               <a href="{% url 'xgds_data_displayRecord' result|moduleName result|modelName result|pkValue %}">{{ rname }}</a>
             {% endif %}
	     {% endwith %}
           </td>
 	 {% for x in displayFields %}
	   <TD >
	  {% with myval=result|getattribute:x %}
	     <SPAN {% if myval|isNumeric %}style="white-space:nowrap;"{% endif %}>
	  	{{ x|display:myval }}
	    </SPAN>
	  {% endwith %}
	  </TD>
	  {% endfor %}
	   {% endblock datarow %}
	</tr>

	{% endfor %}
		</tbody>
	</table>


{% endblock listing %}

{% block postamble %}

{% if checkable %}

{% if allselected %}
<input type="hidden" name="allselected" id="id_allselected" value=1>
{% else %}
<input type="hidden" name="allselected" id="id_allselected">
{% endif %}

{% for pid in picks %}
{% if pid not in resultfullids.values %}
<input type="hidden" id="pick_{{pid}}" name="picks" value="{{pid}}" >
{% endif %}
{% endfor %}

{% for pid in notpicks %}
{% if pid not in resultfullids.values %}
<input type="hidden" id="notpick_{{pid}}" name="notpicks" value="{{pid}}" >
{% endif %}
{% endfor %}

{% endif %}

	{% with divpage=1|divide:pageSize %}
	{% with end_index=page|divide:divpage|floatformat:"0"  %}
	{% with start_index=pageSize|divide:-1|add:end_index|add:1  %}
	<div id="pager2">
	<input type="hidden" name="start" id="id_start">
	<input type="hidden" name="end"  id="id_end">
		<span class="counts">Displaying {{start_index}}-
		{% if end_index|add:"0" < count|add:"0" %}{{end_index}}{% else %}{{count}}{% endif %}
		 out of {{ count }} records</span>

{% include "xgds_data/paginator.html" %}
	</div>
	{% endwith %}
	{% endwith %}
	{% endwith %}

{% endblock postamble %}
</div>
{% elif count == 0 %}
	<HR>
	No records match
{% endif %}

</div>
{% endblock results %}
</form>
{% endblock contents %}

