{% extends "base.html" %}
{% load xgds_data_extras %}

{% load url from future %}
{% load nav %}
{% block siteSection %}{{ title }}{% endblock %}
{% block nav %}
   {{ block.super }}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}external/css/jquery/jquery-ui.css" ></link>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}xgds_data/css/ResultList.css" ></link>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery/jquery-ui.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery/jquery-ui-timepicker-addon.js"></script>
  <script type="text/javascript">
  
  function zeroPad(integer,width) {
	  var string = integer.toString();
	  while (string.length < width) {
		  string = "0"+string;
	  }
	  
	  return string;
  }
  
  function convertToUTC(string) {
	  var months = ['Jan','Feb','Mar','Apr','May','June',
	                'Jul','Aug','Sep','Oct','Nov','Dec'];
	  
	  var d = new Date(string);
	  var mo = zeroPad((1+d.getUTCMonth()),2);
	  var date = zeroPad(d.getUTCDate(),2);
	  var year = d.getUTCFullYear().toString();
	  var hours = zeroPad(d.getUTCHours(),2);
	  var minutes = zeroPad(d.getUTCMinutes(),2);
	  
	  return mo+'/'+date+'/'+year+' '+hours+':'+minutes;
  }
  
  function submitform(fnctn)
  {
	if ($('#simple').length == 0) {
		document.QueryForm.action = "{% url 'xgds_data_searchChosenModel' module model %}";
	} else {
		document.QueryForm.action = "{% url 'xgds_data_searchChosenModel' module model 'expert' %}";
	}
	try { 
	{% for f in datetimefields %}
	var timeLo = $('#id_{{f}}_lo').val();
	var timeHi = $('#id_{{f}}_hi').val();
	if (timeLo && timeLo.search(/[\-\+]/) >= 0) {
		var newval = convertToUTC(timeLo);
		$('#id_{{f}}_lo').val(newval);
	}
	if (timeHi && timeHi.search(/[\-\+]/) >= 0) {
		var newval = convertToUTC(timeHi);
		$('#id_{{f}}_hi').val(newval);
	}
	{% endfor %}
	} catch (err) {
		
		alert(err)
	}
	document.QueryForm["fnctn"].value = fnctn;
    document.QueryForm.submit();
    return false;
  }
  
  function changemode(isExpert)
  {
	if (!isExpert) {
		var allOperators = $("[id$=_operator]");
		for (var i=0; i < allOperators.length; i++) {
			allOperators[i].value = allOperators[i].options[0].value;
		}
		document.QueryForm.action = "{% url 'xgds_data_searchChosenModel' module model %}";
	} else {
		document.QueryForm.action = "{% url 'xgds_data_searchChosenModel' module model 'expert' %}";
	}
    document.QueryForm["fnctn"].value = 'query';
    document.QueryForm.submit();
  }

  function gotoPage(page) {
		$("#id_pageno").val(page);
		document.QueryForm["fnctn"].value = 'query';
		submitform('query');
	}
  
{% for f in datetimefields %}
  $('#id_{{f}}_lo').datetimepicker({addSliderAccess: false, showTimezone: true, timeFormat: 'hh:mm tt z'});
  $('#id_{{f}}_hi').datetimepicker({addSliderAccess: false, showTimezone: true, timeFormat: 'hh:mm tt z'});
{% endfor %}
$("#addform").click(function() {
	submitform('addform');
});
$("#query").click(function() {
	submitform('query');
});
$("#csv").click(function() {
	submitform('csv');
});
$("#csvhard").click(function() {
	submitform('csvhard');
});
$("#simple").click(function() {
	changemode(false);
});
$("#expert").click(function() {
	changemode(true);
});
$("#plot").click(function() {
	document.QueryForm.action = "{% url 'xgds_data_searchPlotQueryResults' module model 0 10000 %}";
	document.QueryForm.submit();
});
$("#plothard").click(function() {
	document.QueryForm.action = "{% url 'xgds_data_searchPlotQueryResults' module model 'exact' 0 10000 %}";
	document.QueryForm.submit();
});
$("#prevpage").click(function() {
	var page = parseInt($("#id_pageno").val()) - 1;
	gotoPage(page);
});
$("#nextpage").click(function() {
	var page = parseInt($("#id_pageno").val()) + 1;
	gotoPage(page);
});

function clearResults() { $('#results').html(""); $("#id_pageno").val(1); }

$('input').change(clearResults);
$('select').change(clearResults);
  </script>
  
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery/jquery.flot.min.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery/jquery.flot.threshold.min.js"></script>

{% endblock %}


{% block contents %}	
<div style="text-align:right;">
{% if expert %}
	<A id="simple">Change to Simple</A>
{% else %}
	<A id="expert">Change to Advanced</A>
{% endif %}
</div>
<h2>{{ title }}</h2>  	
{% for d in debug %}
	<span>{{ d }}</span>
{% endfor %}
{% if expert %}
	<form name='QueryForm' action="{% url 'xgds_data_searchChosenModel' module model 'expert' %}" method="post">
{% else %}
	<form name='QueryForm' action="{% url 'xgds_data_searchChosenModel' module model %}" method="post">
{% endif %}
  <input type="hidden" name="fnctn" value="query">
  <input type="hidden" name="pageno" id="id_pageno" value={{ page }}>
  
{% if axesform %}
    {% for field in axesform %}
          {{ field.as_hidden }} 
  {% endfor %}
{% endif %}

{{ formset.management_form }}
{% for form in formset %}
    <table>
    {% if expert %}
		{{ form.as_expert_table }}
	{% else %}
		{{ form.as_table }}
	{% endif %}
    </table>
 
{% endfor %}

<input type="submit" value="Search" id="query" />
{% if expert %}
	{% if 'this code' == 'is no longer broken' %}
	<input type="submit" value="Add Disjunction" id="addform" /> 
	{% endif %}
{% endif %}

 <div id='results'>    
{% if count %}
	<HR>
	
	     {% if count != exactCount %}
     <TABLE  style="float: right;">
     <TR><TH rowspan=2>Key</TH><TD class="ResultListExactOdd">Exact</TD><TD class="ResultListExactEven">Match</TD></TR>
     <TR><TD class="ResultListInexactOdd">Close</TD><TD class="ResultListInexactEven">Match</TD></TR>
     </TABLE>
     {% endif %}
	
	{% if count == exactCount %}
		{{ count }} matching records
	{% else %}
		About {{ count }} matching records
		{% if exactCount == 0 %}
			(no
		{% else %}
			({{ exactCount }}
		{% endif %}
		exact
		{% if exactCount == 1 %}
			match)
		{% else %}
			matches)
		{% endif %}
	{% endif %}
	in {{ duration }} seconds.
	<BR />
	{% if count > 0 %}
    	<input type="submit" value="Download All Matches" id="csv" />
    {% else %}
    	<input type="submit" value="Download All Matches" id="csv" disabled />
    {% endif %}
    {% if count != exactCount %}
	    {% if exactCount > 0 %}
	    	<input type="submit" value="Download Exact Matches" id="csvhard" />
	    {% else %}
	    	<input type="submit" value="Download Exact Matches" id="csvhard" disabled />
	    {% endif %}
    {% endif %}
    {% if axesform %}
	    {% if count > 10000 %}
	    	<input type="submit" value="Plot Matches" id="plot" title="Plot limited to 10000 records" /> 
	    {% elif count > 0 %}
	    	<input type="submit" value="Plot Matches" id="plot"/> 
	    {% else %}
	    	<input type="submit" value="Plot Matches" id="plot" disabled /> 
	    {% endif %}
	    {% if count != exactCount %}
		    {% if exactCount > 10000 %}
		    	<input type="submit" value="Plot Exact Matches" id="plothard" title="Plot limited to 10000 records" /> 
		    {% elif exactCount > 0 %}
		    	<input type="submit" value="Plot Exact Matches" id="plothard"/> 
		    {% else %}
		    	<input type="submit" value="Plot Exact Matches" id="plothard" disabled />
		    {% endif %}
	    {% endif %}
    {% endif %}
    <div style="min-height:5px;max-height:5px;"></div>
    
    <div style="position:relative;">

<div style = "position:absolute;top:0px;width:100%;overflow-x:scroll;z-index:1;"> 

    <table class="ResultList">
	<tr>
	{% if checkable %}
		<th style="visibility:hidden;"><input type="checkbox" /></th>
	{% endif %}
	<th style="visibility:hidden;">Record</th>
	  {% for x in displayFields %}
	  <th>{{ x.verbose_name }}</th>
	  {% endfor %}
	  </tr>
	{% for result in results %}
		{% with myid=result|getattribute:pk.name %}
		    {% with myscore=result|getattribute:'score' %}
				{% if myscore == 1 %}
					{% if forloop.counter|modulo:2 == 1 %}
						<tr class="ResultListExactOdd">
					{% else %}
						<tr class="ResultListExactEven">
					{% endif %}
				{% else %}
					{% if forloop.counter|modulo:2 == 1 %}
						<tr class="ResultListInexactOdd">
					{% else %}
						<tr class="ResultListInexactEven">
					{% endif %}
				{% endif %}			
		    {% endwith %}
		{% endwith %}	
	
		{% if checkable %}
		<td style="visibility:hidden;">
			{% if result|getattribute:pk.name in picks %}
			<input type="checkbox" id="pick_{{result|getattribute:pk.name}}" name="picks" value="{{result|getattribute:pk.name}}" CHECKED />
			{% else %}
		    <input type="checkbox" id="pick_{{result|getattribute:pk.name}}" name="picks" value="{{result|getattribute:pk.name}}"/>
		    {% endif %}
		     </td>
	     {% endif %}
	   <td>{{result|getattribute:'__string__'}}
	   
		{% for x in displayFields %}
		  {% if x|getattribute:'__class__'|getattribute:'__name__' == 'ImageField' %}
		  	{% with myval=result|getattribute:x.name %}
		  		{{ x|href:myval }}
		  	{% endwith %}
		  {% endif %}
		{% endfor %}	    
	   
	   </td>
 	 {% for x in displayFields %}
	  <td>

	  {% with myval=result|getattribute:x.name %}
	  	{{ x|display:myval }}
	  {% endwith %}

	  </td>
	  {% endfor %}
	</tr>
	{% endfor %}
	</table>
</div>

<div style = "position:relative;top:0px;width:100%;overflow-x:hidden;z-index:1;"> 
	
	<!--  Unfortunately, setting color on a row overrides hidden visibility on cells in Firefox, so we have to do this the hard way -->
	    <table class="ResultListFixed">
	<tr>
	{% if checkable %}
	<th><input type="checkbox" id="pick_master" /></th>
	{% endif %}
	<th>Record</th>
	  {% for x in displayFields %}
	  <th style="visibility:hidden;">{{ x.verbose_name }}</th>
	  {% endfor %}
	  </tr>
	  
	{% for result in results %}
		<tr>
		{% with myid=result|getattribute:pk.name %}
		    {% with myscore=result|getattribute:'score' %}

		   
		{% if checkable %}
			{% if myscore == 1 %}
				{% if forloop.counter|modulo:2 == 1 %}
					<td class="ResultListExactOdd">
				{% else %}
					<td class="ResultListExactEven">
				{% endif %}
			{% else %}
				{% if forloop.counter|modulo:2 == 1 %}
					<td class="ResultListInexactOdd">
				{% else %}
					<td class="ResultListInexactEven">
				{% endif %}
			{% endif %}	
			{% if result|getattribute:pk.name in picks %}
			<input type="checkbox" id="pick_{{result|getattribute:pk.name}}" name="picks" value="{{result|getattribute:pk.name}}" CHECKED />
			
			{% else %}
		    <input type="checkbox" id="pick_{{result|getattribute:pk.name}}" name="picks" value="{{result|getattribute:pk.name}}"/>


		    {% endif %}
		     </td>
	    {% endif %}
		{% if myscore == 1 %}
			{% if forloop.counter|modulo:2 == 1 %}
				<td class="ResultListExactOdd">
			{% else %}
				<td class="ResultListExactEven">
			{% endif %}
		{% else %}
			{% if forloop.counter|modulo:2 == 1 %}
				<td class="ResultListInexactOdd">
			{% else %}
				<td class="ResultListInexactEven">
			{% endif %}
		{% endif %}	
	   {{ result|getattribute:'__string__' }}
	   
		{% for x in displayFields %}
		  {% if x|getattribute:'__class__'|getattribute:'__name__' == 'ImageField' %}
		  	{% with myval=result|getattribute:x.name %}
		  		{{ x|href:myval }}
		  	{% endwith %}
		  {% endif %}
		{% endfor %}
	   
	   </td>
 	 {% for x in displayFields %}
	  <td style="visibility:hidden;">
	  {% with myval=result|getattribute:x.name %}
	  	{{ x|display:myval }}
	  {% endwith %}
	  </td>
	  {% endfor %}
	  
	  		    {% endwith %}
		{% endwith %}
	  
	</tr>

	{% endfor %}
	</table>
	
	</div>

<BR />

</div>

		{% if page > 1 %}
			<input type="submit" value="Previous" id="prevpage"/>
		{% else %}
			<input type="submit" value="Previous" id="prevpage" disabled />
		{% endif %}
		<span>Page {{ page }}</span>
		{% if more %}
			<input type="submit" value="Next" id="nextpage"/>
		{% else %}
			<input type="submit" value="Next" id="nextpage" disabled />
		{% endif %}

{% elif formset.cleaned_data %}
	<HR>
	No records match 
{% endif %}
</div>
</form>

{% endblock %}

