{% extends "base.html" %}
{% load xgds_data_extras %}

{% load url from future %}
{% load nav %}
{% block siteSection %}{{ title }}{% endblock %}

{% block cssExtras %}
{{ block.super }}
<style type="text/css" title="currentStyle">
{% if standalone %}
	@import "{{ STATIC_URL }}external/css/jquery/jquery-ui.css";
{% else %}
	/*
	@import "{{ EXTERNAL_URL }}datatables-editable/media/css/demo_page.css";
	@import "{{ EXTERNAL_URL }}datatables-editable/media/css/demo_table.css";
	*/
	@import "{{ EXTERNAL_URL }}jquery-ui/themes/base/jquery-ui.min.css";
{% endif %}
	@import "{{ STATIC_URL }}xgds_data/css/ResultList.css";
</style>
{% endblock cssExtras %}

{% block scripts %}
  {{ block.super }}
{% if standalone %}
  <script language="javascript" type="text/javascript"
  	src="{{ STATIC_URL }}/external/js/jquery/jquery-ui.min.js"></script>
  <script language="javascript" type="text/javascript"
  	src="{{ STATIC_URL }}external/js/jquery/jquery-ui-timepicker-addon.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/DataTables/jquery.dataTables.min.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/DataTables/dataTables.fixedColumns.min.js"></script>
{% else %}
  <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jquery-ui/jquery-ui.min.js"></script>
  <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jQuery-Timepicker-Addon/dist/jquery-ui-timepicker-addon.min.js"></script>
  <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}datatables/media/js/jquery.dataTables.min.js"></script>
  <script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}datatables-fixedcolumns/js/dataTables.fixedColumns.js"></script>
{% endif %}
  <script type="text/javascript">
  function zeroPad(integer,width) {
	  var string = integer.toString();
	  while (string.length < width) {
		  string = "0"+string;
	  }
	  
	  return string;
  }
  
  function convertToUTC(string) {
	  var months = ['Jan','Feb','Mar','Apr','May','June',
	                'Jul','Aug','Sep','Oct','Nov','Dec'];
	  
	  var d = new Date(string);
	  var mo = zeroPad((1+d.getUTCMonth()),2);
	  var date = zeroPad(d.getUTCDate(),2);
	  var year = d.getUTCFullYear().toString();
	  var hours = zeroPad(d.getUTCHours(),2);
	  var minutes = zeroPad(d.getUTCMinutes(),2);
	  var seconds = zeroPad(d.getUTCSeconds(),2);

	  if (seconds == 0) {
 	     return mo+'/'+date+'/'+year+' '+hours+':'+minutes;
          } else {
 	     return mo+'/'+date+'/'+year+' '+hours+':'+minutes+':'+seconds;
          }
  }
  
{% block submitURL %}
var submitURL="{% url 'xgds_data_searchChosenModel' module model %}"
var submitExpertURL="{% url 'xgds_data_searchChosenModel' module model 'expert' %}"
{% endblock submitURL %}

  function submitform(fnctn,pageno)
  {
	if ($('#simple').length == 0) {
		document.QueryForm.action = submitURL;
	} else {
		document.QueryForm.action = submitExpertURL;
	}
	try { 
	{% for f in datetimefields %}
	var timeLo = $('#id_{{f}}_lo').val();
	var timeHi = $('#id_{{f}}_hi').val();
	if (timeLo && timeLo.search(/[\-\+]/) >= 0) {
		var newval = convertToUTC(timeLo);
		$('#id_{{f}}_lo').val(newval);
	}
	if (timeHi && timeHi.search(/[\-\+]/) >= 0) {
		var newval = convertToUTC(timeHi);
		$('#id_{{f}}_hi').val(newval);
	}
	{% endfor %}
	} catch (err) {
		
		alert(err)
	}
	document.QueryForm["fnctn"].value = fnctn;
    $("#id_pageno").val(pageno); 
    {% block submitPostProcess %}
    {% endblock submitPostProcess %}
    document.QueryForm.submit();
    return false;
  }
  
  function changemode(isExpert)
  {
	if (!isExpert) {
		var allOperators = $("[id$=_operator]");
		for (var i=0; i < allOperators.length; i++) {
			allOperators[i].value = allOperators[i].options[0].value;
		}
		document.QueryForm.action = submitURL;
	} else {
		document.QueryForm.action = submitExpertURL;
	}
    document.QueryForm["fnctn"].value = 'change';
    $("#id_pageno").val(1); 
    document.QueryForm.submit();
  }

  function gotoPage(page) {
		//$("#id_pageno").val(page);
		//document.QueryForm["fnctn"].value = 'query';
		submitform('query',page);
	}
  

  var oTable;
  
  function syncFramesize() {
		  var nheight = $(window).height(); // New height
		  var nwidth = $(window).width(); // New width

		  //$("#outerresults").height(nheight - 50);
		  $("#outerresults").width(nwidth - 50);
	      //$('div.dataTables_scrollBody').css('height',(nheight - 75)+'px');
	      //$('div.DTFC_LeftBodyWrapper').css('height',(nheight - 75)+'px');
	      //oTable.fnAdjustColumnSizing();
		}
  
  var calcDataTableHeight = function() {
      return '500px';
      //TODO if we know how much room the search takes up we can be smart about how tall to make the results.
/* 	    var h = Math.floor($(window).height()*65/100);
	    return h + 'px';
 */	};

  function initDataFrame() {
      $('#page').height(1200);
      $('#page-content').height(1100);
    var options = {
    	    "sScrollY": calcDataTableHeight(),
    		"sScrollX": "100%",
            "bFilter": false,
            "bInfo": false,
    		"bPaginate": false,
    		"bAutoWidth": true,
    		"bJQueryUI": false,
    		"bSort": false,
    		"aoColumnDefs": [
    			{ "bSortable": false, "bFilter": false, "aTargets": [ 0 ] }
    		]
    	};
	oTable = $('#tableresults').DataTable(options);
	{% if checkable %}
	{% if standalone %}
	{% else %}
	new $.fn.dataTable.FixedColumns( oTable, { leftColumns: 2, leftWidth: 115 } );
	{% endif %}
	{% else %}
	{% if standalone %}
	// new FixedColumns( oTable, { "iLeftColumns": 1 } );
	new $.fn.dataTable.FixedColumns( oTable, { leftColumns: 1 } );
	{% else %}
	new $.fn.dataTable.FixedColumns( oTable, { leftColumns: 1 } );
	{% endif %}
	{% endif %}
	// positionFooter();
}

if ($('#tableresults').length) {
	// $(document).ready(initDataFrame);
	$(window).resize(syncFramesize);
}

window.onload = initDataFrame;

{% for f in datetimefields %}
var timeFormat = '{{ timeformat }}'
var seconds = false;
if (timeFormat.search("ss") > -1) {
  seconds = true;
}
$('#id_{{f}}_lo').datetimepicker({addSliderAccess: false, showTimezone: true, timezone: '+0000', showSecond: seconds, timeFormat: timeFormat });
$('#id_{{f}}_hi').datetimepicker({addSliderAccess: false, showTimezone: true, timezone: '+0000', showSecond: seconds, timeFormat: timeFormat });
{% endfor %}
$("#addform").click(function() {
	submitform('addform',1);
});
$("#query").click(function() {
	submitform('query',1);
});
$("#csv").click(function() {
	submitform('csv',1);
});
$("#csvhard").click(function() {
	submitform('csvhard',1);
});
$("#simple").click(function() {
	changemode(false);
});
$("#expert").click(function() {
	changemode(true);
});
$("#plot").click(function() {
	document.QueryForm.action = "{% url 'xgds_data_searchPlotQueryResults' module model %}";
	document.QueryForm.submit();
});
$("#plothard").click(function() {
	document.QueryForm.action = "{% url 'xgds_data_searchPlotQueryResults' module model 'exact' %}";
	document.QueryForm.submit();
});
$("#prevpage").click(function() {
	var page = parseInt($("#id_pageno").val()) - 1;
	gotoPage(page);
});
$("#nextpage").click(function() {
	var page = parseInt($("#id_pageno").val()) + 1;
	gotoPage(page);
});

{% if checkable  %}
$('#pmaster').change(function() {                                           
	var checked = $( "input:checked[id=pmaster]").length;
	    // alert('you clicked me!');
	if (checked) {
	    //alert('check!');
	     $( "input:not(:checked)[id^=pick]").prop('checked',true)
	} else {
	    //alert('uncheck!');
	     $( "input:checked[id^=pick]").prop('checked',false)
	}
});

$('input[id^=pick]').change(function(event) {
	var pickcount = $( "input[id^=pick]").length;
	var checkpickcount = $( "input:checked[id^=pick]").length
	if (pickcount == checkpickcount) {

	    //$('#pmaster').prop('checked',true);
	     $('input:not(:checked)[id=pmaster]').prop('checked',true)
	} else {

	     $('input:checked[id=pmaster]').prop('checked',false)
	    // $('#pmaster').prop('checked',false);
	}
});

{% endif %}

function resetResults() { 
//	$('#results').html(""); 
	$("#id_pageno").val(1); 
}

$('input[id$="control"]').change(resetResults);
$('input[type=text][id$="_lo"]').change(resetResults);
$('input[type=text][id$="_hi"]').change(resetResults);
$('select').change(resetResults);

$(function () {
    if ({{ autoSubmit }}) {
        $('#query').click();
    }
});
  </script>
  
{% if standalone %}
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery/jquery.flot.min.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ STATIC_URL }}external/js/jquery/jquery.flot.threshold.min.js"></script>
{% else %}
  <script language="javascript" type="text/javascript"
	  src="{{ EXTERNAL_URL }}flot/jquery.flot.js"></script>
  <script language="javascript" type="text/javascript"
	  src="{{ EXTERNAL_URL }}flot/jquery.flot.threshold.js"></script>
{% endif %}

{% endblock scripts %}

{% block contents  %}
{% block query %}	
<div style="float:right;text-align:right;">
{% if expert %}
	<A id="simple" class="mybutton">Simple Search</A>
{% else %}
	<A id="expert" class="mybutton">Advanced Search</A>
{% endif %}
</div>
<h2>{{ title }}</h2>  	
{% for d in debug %}
	<span>{{ d }}</span>
{% endfor %}
  <form name="QueryForm" action="" method="post">
  <input type="hidden" name="fnctn" value="query">
  <input type="hidden" name="pageno" id="id_pageno" value={{ page }}>
  
{% if axesform %}
    {% for field in axesform %}
          {{ field.as_hidden }} 
  {% endfor %}
{% endif %}

{{ formset.management_form }}
<table>
    
{% for form in formset %}
    {% if expert %}
		{{ form.as_expert_table }}
	{% else %}
		{{ form.as_table }}
	{% endif %}
    
{% endfor %}

	<tr>
	  <td colspan=5><input type="submit" class="mybutton"  value="Search" id="query" style="float:right;"/></td>
	</tr>

</table>
 
{% if expert %}
	{% if 'this code' == 'is no longer broken' %}
	<input type="submit" value="Add Disjunction" id="addform" /> 
	{% endif %}
{% endif %}

{% endblock query %}

{% block results  %}

 <div id='results'>    
{% if count %}

	<HR>

{% block count  %}

	{% if count == exactCount %}
		{{ count }} matching records
	{% else %}
		About {{ count }} matching records
		{% if exactCount == 0 %}
			(no
		{% else %}
			({{ exactCount }}
		{% endif %}
		exact)
		{% if exactCount == 1 %}
			match
		{% else %}
			matches
		{% endif %}
	{% endif %}
	in {{ duration|floatformat }} seconds.
{% endblock count %}

    {% if count != exactCount %}
     <TABLE style="float: right; display: inline-block;">
    	{% if standalone %}
     		<TR><TH rowspan=2>Key</TH><TD class="mimicOddResultListExact">Exact</TD><TD class="mimicEvenResultListExact">Match</TD></TR>
     		<TR><TD class="mimicOddResultListInexact">Close</TD><TD class="mimicEvenResultListInexact">Match</TD></TR>    	
    	{% else %}
     		<TR><TH rowspan=2>Key</TH><TD class="mimicOddGradeA">Exact</TD><TD class="mimicEvenGradeA">Match</TD></TR>
     		<TR><TD class="mimicOddGradeX">Close</TD><TD class="mimicEvenGradeX ">Match</TD></TR>
     	{% endif %}
     </TABLE>
     {% endif %}

<span style="float:right;text-align:right;">
{% block download  %}
	{% if count != exactCount %}
		{% if count > 0 %}
	    	<input type="submit" class="mybutton" value="Download CSV (All)" id="csv" />
	    {% else %}
	    	<input type="submit"  value="Download CSV (All)" id="csv" disabled />
	    {% endif %}
    {% endif %}
    {% if exactCount > 0 %}
    	<input type="submit" class="mybutton"  value="Download CSV (Exact)" id="csvhard" />
    {% else %}
    	<input type="submit" value="Download CSV (Exact)" id="csvhard" disabled />
    {% endif %}
{% endblock download %}

{% block plot  %}
    {% if axesform %}
	    {% if count != exactCount %}
		    {% if count > 0 %}
		    	<input type="submit" class="mybutton" value="Plot (All)" id="plot"/> 
		    {% else %}
		    	<input type="submit" value="Plot (All)" id="plot" disabled /> 
		    {% endif %}
	    {% endif %}
	    {% if exactCount > 0 %}
	    	<input type="submit" class="mybutton" value="Plot (Exact)" id="plothard"/> 
	    {% else %}
	    	<input type="submit" value="Plot (Exact)" id="plothard" disabled />
	    {% endif %}
    {% endif %}
{% endblock plot %}
</span>

{% block listing  %}
<div id="outerresults" style="margin-top:15px;">
{% with divpage=1|divide:pageSize %}
	{% with end_index=page|divide:divpage|floatformat:"0"  %}
	{% with start_index=pageSize|divide:-1|add:end_index|add:1  %}
	<div id="pager">

	<input type="hidden" name="start" id="id_start">
	<input type="hidden" name="end"  id="id_end">
		<span class="counts">Displaying {{start_index}}-
		{% if end_index|add:"0" < count|add:"0" %}{{end_index}}{% else %}{{count}}{% endif %}
		 out of {{ count }} records</span>
	{% if checkable %}
		({% if not allselected %}{{ picks|length }}{% else %}{{ notpicks|length|divide:-1|add:count }}{% endif %}
selected - Select
<a href="javascript:submitform('selectall',{{page}});"><span style="text-decoration: underline;">All</span></a>
/
<a href="javascript:submitform('unselectall',{{page}});"><span style="text-decoration: underline;">None</span></a>
)
	{% endif %}

	 {% if count != exactCount and 1 == 0 %}
     <TABLE style="float: right;">
    	{% if standalone %}
     		<TR><TH rowspan=2>Key</TH><TD class="mimicOddResultListExact">Exact</TD><TD class="mimicEvenResultListExact">Match</TD></TR>
     		<TR><TD class="mimicOddResultListInexact">Close</TD><TD class="mimicEvenResultListInexact">Match</TD></TR>    	
    	{% else %}
     		<TR><TH rowspan=2>Key</TH><TD class="mimicOddGradeA">Exact</TD><TD class="mimicEvenGradeA">Match</TD></TR>
     		<TR><TD class="mimicOddGradeX">Close</TD><TD class="mimicEvenGradeX ">Match</TD></TR>
     	{% endif %}
     </TABLE>
     {% endif %}

{% include "xgds_data/paginator.html" %}
	</div>
	{% endwith %}
	{% endwith %}
	{% endwith %}

{% if standalone %}
   <table id="tableresults" class="compact cell-border ResultList">
   <thead>
{% else %}
   <table id="tableresults" class="compact cell-border display">
   <thead class="table_header">
{% endif %}
	<tr>
	  {% block headerrow %}
	{% if checkable %}
	<th><input type="checkbox" id="pmaster" /></th>
	{% endif %}
	<th>Record</th>
	{% for x in displayFields %}
	<th>{{ x|verbose_name }}</th>
	{% endfor %}
	  {% endblock headerrow %}
   </tr>
   </thead>
	  <tbody>
	{% for result in results %}
		    {% with myscore=result|getattribute:'score' %}
				{% if myscore >= 1 %}
					{% if standalone %}
						<tr class="ResultListExact">
					{% else %}
						<tr class="gradeA">
					{% endif %}
				{% else %}
					{% if standalone %}
						<tr class="ResultListInexact">
					{% else %}
						<tr class="gradeX">
					{% endif %}
				{% endif %}			
		    {% endwith %}

	   {% block datarow %}

		{% if checkable %}
		<td>
			{% with pid=resultfullids|getattribute:result %}
			<input type="checkbox" id="pick_{{pid}}" name="picks" value="{{pid}}"
{% if not allselected %}
{% if pid in picks %}CHECKED{% endif %}
{% else %}
{% if pid not in notpicks %}CHECKED{% endif %}
{% endif %}
 />
{% if allselected %}
<input type="hidden" id="notpick_{{pid}}" name="notpicks" value="{{pid}}" >
{% endif %}
			{% endwith %}
		     </td>
	     {% endif %}
	   <td>
	     {% with rname=result|stringformat:"s"|default:"&nbsp;" %}
             {% if result.get_absolute_url %}
               <a href="{{ result.get_absolute_url }}">{{ rname }}</a>
             {% else %}
               <a href="{% url 'xgds_data_displayRecord' result|moduleName result|modelName result|pkValue %}">{{ rname }}</a>
             {% endif %}
	     {% endwith %}
           </td>
 	 {% for x in displayFields %}
	   <TD >
	  {% with myval=result|getattribute:x %}
	     <SPAN {% if myval|isNumeric %}style="white-space:nowrap;"{% endif %}>
	  	{{ x|display:myval }}
	    </SPAN>
	  {% endwith %}
	  </TD>
	  {% endfor %}
	   {% endblock datarow %}
	</tr>

	
	{% endfor %}
		</tbody>
	</table>
</div>

{% endblock listing %}

{% block postamble %}

{% if checkable %}

{% if allselected %}
<input type="hidden" name="allselected" id="id_allselected" value=1>
{% else %}
<input type="hidden" name="allselected" id="id_allselected">
{% endif %}

{% for pid in picks %}
{% if pid not in resultfullids.values %}
<input type="hidden" id="pick_{{pid}}" name="picks" value="{{pid}}" >
{% endif %}
{% endfor %}

{% for pid in notpicks %}
{% if pid not in resultfullids.values %}
<input type="hidden" id="notpick_{{pid}}" name="notpicks" value="{{pid}}" >
{% endif %}
{% endfor %}

{% endif %}

	{% with divpage=1|divide:pageSize %}
	{% with end_index=page|divide:divpage|floatformat:"0"  %}
	{% with start_index=pageSize|divide:-1|add:end_index|add:1  %}
	<div id="pager">
	<input type="hidden" name="start" id="id_start">
	<input type="hidden" name="end"  id="id_end">
		<span class="counts">Displaying {{start_index}}-
		{% if end_index|add:"0" < count|add:"0" %}{{end_index}}{% else %}{{count}}{% endif %}
		 out of {{ count }} records</span>

{% include "xgds_data/paginator.html" %}
	</div>
	{% endwith %}
	{% endwith %}
	{% endwith %}

{% endblock postamble %}

{% elif count == 0 %}
	<HR>
	No records match 
{% endif %}

</div>
</form>

{% endblock results %}

{% endblock contents %}

