{% extends "xgds_data/searchChosenModelBase.html" %}

{% block submitURL %}
var submitURL="{% url urlName module model %}";
var submitExpertURL="{% url urlName module model 'expert' %}";
{% endblock submitURL %}

{% block scripts %}
  {{ block.super }}
<script language="javascript" type="text/javascript">
$("#id_userAction").click(function() {
	submitform('{{finalAction}}',1);
});
</script>
{% endblock scripts %}

{% block download  %}
<input type="submit" class="btn btn-primary" value="{{ finalAction }}" name="userAction" id="id_userAction"/>
{% endblock download  %}
